/*---------------------------
Sidebar City Widget Styles
-=--------------------------*/


.city-widget-box {

    border: 1px solid #E8E8E8;
    border-radius: 4px;
    padding: 15px;

    .widget-title {
        font-size: 1.3rem;
        font-weight: normal
    }

    .city-widget-list {

        margin-left: 2rem;

        li {
            list-style-type: disc;
        }

        a {
            font-size: 0.9rem;
            color: $primary;
            transition: 0.2s;
            text-decoration: none;
            position: relative;
            top: -1px;

            &:hover {
                color: $secondary;
            }
        }
    }

} //End .city-widget-box