/*----------------------------
Awards Page Template Styles
- page-awards.php
-----------------------------*/

.page-template-page-awards-php {

} //End .page-template-page-awards-php

//Awards Section
.awards-section {

} //End .awards-section

//Single Award
.single-award {

    clear: both;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;
     
    .award-img-block {

        margin: 0 auto 20px auto;
        max-width: 200px;

        @media (min-width: 768px){
            float: right;
            margin-left: 30px;
            margin-top: 40px;
        }
        
    }


} //End .single-award