/*-------------------------------
Blog and Generic Archive Styles
-------------------------------*/

.blog, .archive {


    .entry-footer {
        display: none;
    }

    article.post, article.news {
        .entry-meta {
            display: block;
            color: #666;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .entry-content {
            p {
                margin-bottom: 0;
            }
        }
    }

    .archive-description  {
        display: none;
    }

    //No idea where this is coming from, just hiding it oh Genesis
    .content-sidebar-wrap > h2.entry-title {
        display: none;
    }

    .entry-image {
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        padding: 4px; 
        border: 1px solid #e0e0e0;
    }

 } //End .blog


 .pagination {

    text-align: center;

    li a {
        transition: 0.2s;

        &:hover {
            color: #fff;
            background: $secondary;
        }
    }

     li.active {
         a {
             color: #fff;
             background: $primary;
         }
     }
 }


/*-------------------------------
Single Post Styles
-------------------------------*/

.single-post, .single-news {
    .entry-header {
        display: block;
        color: #666;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .interior-header__meta {
        color: #fff;
        position: relative;
        z-index: 10;
        opacity: 0.9;
        display: block;
        font-size: 0.95rem;

        @media (max-width: 767px){
            text-align: center;
        }
    }
}
