/*---------------------------------
Contact Us Page Template Styles
----------------------------------*/

//Page Styles
.page-template-page-contact-php {

    .interior-header {
        margin-bottom: 0;

        div:nth-of-type(2){
            display: none;
        }

        &__title {
            width: 100%;
            text-align: center;
        }
    }

    article.entry {
        margin-bottom: 0;
    }

    #breadcrumbs {
        display: none;
    }

    .site-inner, #genesis-content {
        max-width: none;
        padding: 0;
        width: 100%;
    }

        
    //Contact Form Section
    .contact-page-contact-form {

        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        background: $primary;

        &__inner {
            max-width: 1200px;
            margin: 30px auto;
            border: 1px solid #fff;
            padding: 15px;

            @media (min-width: 768px){
                padding: 40px;
            }
        }

        &__title {
            color: #fff;
            text-align: center;

            @media (max-width: 767px){
                font-size: 2.1rem !important;
            }
        }

        &__content {
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 0;
            display: block;
            text-align: center;
            line-height: 1.3;

            @media (max-width: 767px){
                font-size: 1.1rem;
            }

            p, h2, h3 {
                color: #fff;
                text-align: center;
            }
        }

        &__form {
            max-width: 700px;
            margin: 30px auto 0 auto;

            p {
                margin-bottom: 0;
            }

            input[type="submit"]{
                background: #d71920;
                color: #fff;
                border-radius: 45px;
                text-align: center;
                display: block;
                width: 100%;
                max-width: 280px;
                font-size: 1.3rem;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                transition: 0.2s;
                box-shadow: 0 0px 10px rgba(255,255,255,0.8);

                &:hover {
                    background: darken(#d71920, 15%);
                    color: #fff;
                }
            }
        }

        //Form Grid Styles
        .row {
            margin-bottom: 10px;
            
            @media (min-width: 768px){
                display: flex;
            }
        }
        
        .col-md-12{
            width: 100%;
        }

        .col-md-6 {
            
            width: 100%;

            @media (min-width: 768px){
                width: 50%;
                &:nth-of-type(1){
                    padding-right: 5px;
                }
                &:nth-of-type(2){
                    padding-left: 5px;
                }
            }
        }

    } //End .homepage-contact-form


} //End .page-template-page-contact-php

