/*---------------------------------------------------
Ebook Page Styles
- page-ebook.php
--------------------------------------------------------*/

.page-template-page-ebook-php {

}


//List of Book
.ebook-listings {

} 


//Single Book in List
.ebook-listing {

    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    clear: both;

    h3 a {
        text-decoration: none;
    }

    .read-more {
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid $primary;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
            background: $primary;
            border: 1px solid $primary;
            color: #fff;
        }
    }

    .ebook-featured {

        margin: 0 auto 20px auto;

        @media (min-width: 768px){
            float: left;
            margin-right: 30px;
        }
    }

}