
/******************************************************
General Homepage Template Styles
******************************************************/

.homepage-template { //Page Wrapper

	.site-inner {
		max-width: none;
		padding: 0;
	}



	.content {
		width: 100%;
	}

	.homepage-section {
		padding: 30px 15px;
		
		@media (min-width: 768px){
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}

	.homepage-section-title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.5rem;
		display: block;
		line-height: 1.2;

		@media (min-width: 768px){
			font-size: 3.5rem;
		}
	}

	.homepage-seperator-bar {
		display: block;
		height: 4px;
		width: 80px;
		background: $primary;
		margin: 30px auto;
		clear: both;
	}

} //End .homepage-template


/****************
Top Hero Section
*****************/

.homepage-hero {

	//background: url(../images/homepage/hero-background.jpg) no-repeat center center;
	//background: url(../images/sevenish-hero-cover-edited.png) no-repeat center center;
	background: url(../images/sevenish-hero-cover-edited.jpg) no-repeat center center;
	background-size: cover;
	position: relative;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		//background: linear-gradient(to bottom, $primary, $sevenish-gray);
		background: #000;
		opacity: 0.4;
	}

	

	&__inner {

		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		z-index: 10;

		@media (min-width: 960px){
			display: flex;
			justify-content: space-between;
			padding-top: 95px;
			padding-bottom: 95px;
		}
	}

	&__content {
		@media (min-width: 960px){
			width: calc(100% - 400px);
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}
	}

	&__content-box {
	
	}

	&__content-bg {
		padding: 20px;
		background: rgba(0, 62, 126, 0.61);
		max-width: 800px;
		margin-left: 0;

		@media (max-width: 959px){
			margin: 0 auto;
		}
	}

	&__content-box-title {	
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2rem;
		display: block;
		color: #fff;
		line-height: 1.2;

		br {display:none;}

		@media (min-width: 768px){
			font-size: 3.5rem; 
			br {display: block;}
		}

		@media (max-width: 959px){
			text-align: center;
		}

		@media (max-width: 500px){
			font-size: 1.8rem;
		}
	}

	&__content-box-subtitle {
		display: block;
		color: #fff;
		font-weight: 300;
		line-height: 1.2;
		font-size: 1.5rem;
		text-transform: uppercase;

		strong {
			font-weight: bold;
			color: #acacac;
		}
		@media (max-width: 959px){
			text-align: center;
		}
		@media (min-width: 768px){
			font-size: 2.0rem;
		}
		
	}	

	&__content-box-logos {
		display: block;
		width: auto;
		margin-top: 20px;

		@media (max-width: 959px){
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			
		}

		@media (max-width: 490px){
			display: none;
		}
	}

	&__form {
		max-width: 400px;
		width: 100%;
		padding: 15px;
		background: $primary;
		border: 3px solid #fff;
		box-shadow: 0 2px 4px rgba(0,0,0,0.5);

		@media (max-width: 959px){
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
		}

		p {
			margin-bottom: 0;
		}

		input, textarea {
			margin-bottom: 0 !important;
		}

		textarea {
			height: 150px;
		}

		input[type="submit"]{
			background: #d71920;
			color: #fff;
			border-radius: 45px;
			text-align: center;
			display: block;
			width: 100%;
			max-width: 280px;
			font-size: 1.3rem;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			transition: 0.2s;
			box-shadow: 0 0px 10px rgba(255,255,255,0.8);

			&:hover {
				background: darken(#d71920, 15%);
				color: #fff;
			}
		}
	}

	&__form-title {
		display: block;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: -1px;
		line-height: 1.2;
		font-size: 2.2rem;

	}

	&__form-subtitle {
		color: #99acc3;
		font-weight: 300;
		font-size: 1.9rem;
		line-height: 1.2;
		position: relative;
		display: block;
		margin-bottom: 25px;
		padding-bottom: 25px;
		text-align: center;

		&:before {
			content: '';
			background: #99acc3;
			width: 80px;
			height: 4px;
			margin-left: -40px;
			position: absolute;
			bottom: 0;
			left: 50%;
		}
	}

	//Form Grid Styles
	.row {
		
		@media (min-width: 768px){
			display: flex;
			margin-bottom: 10px;
		}
	}
	
	.col-md-12{
		width: 100%;
		margin-bottom: 10px;

		@media (min-width: 768px){
			margin-bottom: 0;
		}
	}

	.col-md-6 {
		
		width: 100%;
		margin-bottom: 10px;

		@media (min-width: 768px){
			width: 50%;
			margin-bottom: 0;
			&:nth-of-type(1){
				padding-right: 5px;
			}
			&:nth-of-type(2){
				padding-left: 5px;
			}
		}
	}

} //End .homepage-hero

/****************
The Difference Row
*****************/

.homepage-difference {

	background: #ffffff;

	&__inner {

		@media (min-width: 960px){
			display: flex;
		}

	}

	&__left {
		width: 100%;
		padding: 15px;
		margin-bottom: 30px;		
		
		@media (min-width: 960px){
			width: 50%;
			margin-bottom: 0;
			padding-right: 50px;
			padding-top: 80px;
		}

		.youtube-placeholder {
			position: relative;
			display:inline-block;
			cursor: pointer;

			img {
				box-shadow: 0 3px 5px rgba(0,0,0,0.5);
				opacity: 1;
				position: relative;
				z-index: 5;
				transition: 0.2s;
			}

			&:before {
				content: '\f04b';
				font-family: fontawesome;
				color: #fff;
				background: $primary;
				border-radius: 100%;
				font-size: 60px;
				text-align: center;
				line-height: 120px;
				display: block;
				height: 120px;
				width: 120px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -60px;
				margin-left: -60px;
				transition: 0.2s;
				opacity: 0.7;
				z-index: 10;
			}

			&:hover {
				img {
					opacity: 0.9;
				}
				&:before {
					opacity: 1;
				}
			}
		}
	}

	&__right {
		width: 100%;
		padding: 0;

		@media (min-width: 960px){
			width: 50%;
			

		}
	}

	&__content {
		font-size: 1.2rem;
		margin-bottom: 0;
	}

	&__title {
		color: $primary !important;
		font-size: 2.7rem !important;
		font-weight: 900 !important;

		@media (max-width: 767px){
			font-size: 2.3rem !important;
		}
	}

} //End .homepage-difference

/****************
Contact Form 
*****************/

.homepage-contact-form {

	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background: $primary;

	&__inner {
		max-width: 1200px;
		margin: 30px auto;
		border: 1px solid #fff;
		padding: 15px;

		@media (min-width: 768px){
			padding: 40px;
		}
	}

	&__title {
		color: #fff;
		text-align: center;

		@media (max-width: 767px){
			font-size: 2.1rem !important;
		}
	}

	&__content {
		color: #fff;
		font-size: 1.2rem;
		margin-bottom: 0;
		display: block;
		text-align: center;
		line-height: 1.3;

		@media (max-width: 767px){
			font-size: 1.1rem;
		}
	}

	&__form {
		max-width: 700px;
		margin: 30px auto 0 auto;

		p {
			margin-bottom: 0;
		}

		input[type="submit"]{
			background: #d71920;
			color: #fff;
			border-radius: 45px;
			text-align: center;
			display: block;
			width: 100%;
			max-width: 280px;
			font-size: 1.3rem;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			transition: 0.2s;
			box-shadow: 0 0px 10px rgba(255,255,255,0.8);

			&:hover {
				background: darken(#d71920, 15%);
				color: #fff;
			}
		}
	}

	//Form Grid Styles
	.row {
		margin-bottom: 10px;
		
		@media (min-width: 768px){
			display: flex;
		}
	}
	
	.col-md-12{
		width: 100%;
	}

	.col-md-6 {
		
		width: 100%;

		@media (min-width: 768px){
			width: 50%;
			&:nth-of-type(1){
				padding-right: 5px;
			}
			&:nth-of-type(2){
				padding-left: 5px;
			}
		}
	}

} //End .homepage-contact-form

/****************
Practice Areas Grid
*****************/

.homepage-practice-areas {

	background: #252525;
	
	&__inner {

	}

	&__title {
		color: #a8a8a8;
		text-align: center;
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 30px;
		text-transform: uppercase;
		
		&:before {
			display: block;
			height: 4px;
			width: 80px;
			background: #a8a8a8;
			clear: both;
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -40px;
		}
	}

	&__content {
		color: #fff;
		text-align: center;
		display: block;
		max-width: 960px;
		margin: 30px auto;
	}

	&__grid {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}


} //End .homepage-practice-areas

//Single Practice Area
.homepage-practice-area {

	height: 240px;
	width: 240px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 70px 10px 20px 10px;
	margin: 10px;
	position: relative;
	text-decoration: none !important;

	&:before {
		content: '';
		position: absolute;
		top: 0; 
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.7);
		opacity: 0.3;
		transition: 0.2s;
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}

	&__title {
		display: block;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		font-size: 1.4rem;
		line-height: 1.2;
		text-shadow: 0 1px 1px rgba(0,0,0,0.8);
		text-align: center;
		font-weight: bold;
		z-index: 10;
		margin-bottom: 15px;
		padding-bottom: 15px;

		&:after {
			position: absolute;
			bottom: 0;
			width: 30px;
			left: 50%;
			margin-left: -15px;
			height: 2px;
			background: #fff;
			content: '';
		}
	}

	&__content {
		font-size: 0.95rem;
		position: relative;
		z-index: 10;
		color: #fff;
		display: block;
		margin-bottom: 0;
		text-align: center;
	}


} //End .homepage-practice-area

/****************
Ready to listen Section
*****************/

.homepage-listen-section {

	background: #e2e6ec;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;

	&__inner {

		@media (min-width: 768px){
			display: flex;
		}

	}

	&__left {
		width: 100%;
		padding: 15px;
		margin-bottom: 30px;
		background: url(../images/homepage/ready-to-listen.jpg) no-repeat center center;
		background-size: cover;
		
		@media (min-width: 768px){
			width: 50%;
			margin-bottom: 0;
		}
	}

	&__right {
		width: 100%;
		padding: 0;

		@media (min-width: 768px){
			width: 50%;
			padding: 70px 30px;

		}
	}

	&__content {
		font-size: 1.2rem;
		margin-bottom: 0;
	}

	&__title {
		color: $primary;
		font-weight: 900 !important;
	}

} //End .homepage-listen-section

/****************
Personal Injury Claims 
*****************/

.homepage-claims {

	&__inner {

	}

	&__title {
		text-align: center;
		color: #fff;
	}

	&__seperator {
		background: #fff !important;
		margin: 45px auto !important;
	}

	//Makeshift Tab Styles
	.tab-content {
		margin-left: -15px;
		margin-right: -15px;
		width: auto;
		//max-width: 1400px;
		//margin: 0 auto;
	}

	.single-tab {
		background-position: top left !important;
		background-repeat: no-repeat;
	}

	.tab-number:before{
		display: none;
	}

	.nav-tabs {
		@media (max-width: 959px){

			li a {
				padding-left: 10px !important;
				padding-right: 10px !important;
			}
			.tab-number {
				height: 50px !important;
				width: 50px !important;
				line-height: 43px !important;
				font-size: 28px !important;
			}
			.tab-title {
				font-size: 12px;
			}
		}

		@media (max-width: 767px){

			display: flex; 
			justify-content: center;
			flex-wrap: wrap;

			 li {
				 width: 180px !important;
				 display: block !important;
				 border: 1px solid #fff !important;
				 max-width: none !important;
				 margin: 15px !important;
				 text-align: center;
			 }

			 a {
				 display: block;
				 text-align: center;
			 }
			.tab-number {
				display: none !important;
			}

			.tab-title {
				display: block !important;
				text-align: center !important;
				padding: 10px;
				min-height: 0 !important;
			}
		}
	}

	.tab-main {
		margin: 0 auto;

		@media (min-width: 768px){
			margin-right: 0;
		}

		.tab-main-content {
			max-width: 630px;
			color: #fff;
			padding: 15px;

			@media (max-width: 1200px){
				background: rgba(0,0,0,0.8) !important;
				
			}

			h2 {
				font-weight: bold;
				font-size: 2.0rem;
				position: relative;
				font-weight: 300;
				margin-bottom: 30px;
				padding-bottom: 30px;

				@media (min-width: 768px){
					font-size: 3rem;
				}

				&:before {
					display: block;
					height: 4px;
					width: 40px;
					background: #fff;
					margin-left: 0;
					content: '';
					position: absolute;
					bottom: 0;
				}

			}

			p {
				font-size: 1.1rem;
			}

			ul {
				list-style-type: none;

				margin-left: 1.5rem;

				li {
					padding-left: 2.4rem;
					position: relative;
					margin-bottom: 15px;
					display: block;

					&:before {
						content: '\f00c';
						display: block;
						color: #fff;
						position: absolute;
						left: 2px;
						top: 0px;
						font-size: 1.3rem;
						font-family: fontawesome;
					}
				}
			}
		}

	}

} //End .homepage-claims



//LEGACY CSS IMPORTED FROM OLD THEME

/************** Tabs Section *******************/

.tab-content>.tab-pane {
	display: none;
}
.tab-content>.active{
	display: block;
}
.fade.in {
	opacity: 1 !important;
}

.single-tab#tab-content-1{
	background-image:url('/wp-content/uploads/2017/11/seek-medical-treatment-bg.jpg');
}
.single-tab#tab-content-2{
	background-image:url('/wp-content/uploads/2017/11/hire-an-attorney-bg-1.jpg');
}
.single-tab#tab-content-3{
	background-image:url('/wp-content/uploads/2017/11/3-1.jpg');
}
.single-tab#tab-content-4{
	background-image:url('/wp-content/uploads/2017/11/4-1.jpg');
}
.single-tab#tab-content-5{
	background-image:url('/wp-content/uploads/2017/11/settlement-phase-bg.jpg');
}
.single-tab#tab-content-6{
	background-image:url('/wp-content/uploads/2017/11/6.jpg');
}
.single-tab#tab-content-7{
	background-image:url('/wp-content/uploads/2017/11/pots-settlement-phase-bg-1.jpg');
}

.homepage-claims {
    background: #171a2d;
	padding-bottom: 0;
	
	.fade {
		opacity: 0;
		-webkit-transition: opacity 1s linear;
		-o-transition: opacity 1s linear;
		transition: opacity 1s linear;
	}

}
.homepage-claims  .nav-tabs {
    //position: absolute;
    //top: -118px;
    border: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 1200px;
    z-index: 1;
    width: 100%;
}
.tabs-block {
    position: relative;
}
.homepage-claims  .container > h2 {
    margin-bottom: 80px;
}
.homepage-claims  .tabs-block .nav-tabs li {
    background-image: none;
    padding-left: 0;
    max-width: 14.3%;
    float: none;
    display: inline-block;
    margin-left: -4px;
    overflow: hidden;
    vertical-align: top;
}
.homepage-claims  .tabs-block li span.tab-number {
    height: 100px;
    width: 100px;
    display: block;
    line-height: 100px;
    border: 2px solid #909193;
    border-radius: 50%;
    font-size: 32px;
    box-shadow: inset 0 0 20px #000;
	font-weight: bold;
    margin: auto auto 20px;
    position: relative;
}
.homepage-claims  .tabs-block li.active>a span.tab-number {
    border-color: #fff;
    background: #fff;
    box-shadow: none;
   transition: all 0.4s;
}

.homepage-claims  .tabs-block li:hover {
	.tab-number {
		background: #797979;
		color: #fff;
	}
}

.homepage-claims  .tabs-block li.active  {
	.tab-number {
		color: $primary;
	}
	.tab-title {
		color: #fff;
	}
}
.tabs-block .nav-tabs>li>a {
    font-size: 14px;
    text-transform: uppercase;
	text-align: center;
	text-decoration: none !important;
    padding: 0 20px;
    background: transparent !important;
    border: 0 !important;
    color: #fff;
	transition: all 0.4s;
	display: block;
    line-height: 1.2;
}
.tabs-block .nav-tabs>li>a:hover, .tabs-block .nav-tabs>li.active>a:hover, .tabs-block .nav-tabs>li.active>a:focus, .tabs-block .nav-tabs li
a:hover span.tab-title {
    color: #d0d0d0;
}
.tabs-block .single-tab {
    padding-top: 0;
    margin-top: 80px;
    padding-bottom: 60px;
}
.tabs-block .single-tab:after {
    display: block;
    content: '';
    clear: both;
}
.homepage-claims  .tabs-block h4 {
    text-align: left;
}
.homepage-claims  .tabs-block h4:after {
    margin: 0;
}
.homepage-claims  .tab-main {
    max-width: 580px;
    text-align: justify;
    font-weight: 500;
    min-height: 610px;
    display: table;
}
.homepage-claims  .tab-main .tab-main-content {
    display: table-cell;
    vertical-align: middle;
}
.tabs-block .nav-tabs li a .tab-title {
    min-height: 40px;
    display: flex;
    align-items: center;
    float: none;
}
.homepage-claims  .tabs-block li span.tab-number:before {
    right: 105%;
    left: auto;
}
.homepage-claims  .tabs-block li span.tab-number:before {
    position: absolute;
    top: 50%;
    width: 1000px;
    border: 1px dashed #5b5e6d;
    content: '';
    left: 103%;
}
.homepage-claims  .tabs-block li span.tab-number:before{
    left: auto;
    right: 103%;
}
.homepage-claims  .tabs-block .nav-tabs li:last-child .tab-number:after {
    display: none;
}
.homepage-claims  .tab-nav {
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    margin: auto;
}
.homepage-claims  .tab-nav .next {
    border: 2px solid #9d9da7;
    background: #272a3d;
    border-radius: 4px;
    height: 42px;
    width: 40px;
    line-height: 40px;
    margin: 10px;
    transition: all 0.4s;
}
.homepage-claims  .tab-nav span:hover {
    background: #121423;
}
.owl-nav span:hover {
    cursor: pointer;
}

//END LEGACY CSS

/****************
Meet Our Team
*****************/

.homepage-team {

	&__inner {

	}

	&__title {
		color: $primary;
		text-align: center;
	}

	&__attorney-loop {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

} //End .homepage-team

//Single Attorney
.homepage-attorney {

	display: block;
	max-width: 280px;
	margin: 10px 20px 30px 20px;
	text-decoration: none;
	border: 1px solid transparent;
	color: #222;


	&__image {
		display: block;
		filter: grayscale(1);
		transition: 0.2s;

		&:hover {
			filter: grayscale(0);
		}
	}

	&__designation {
		display: block;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.1rem;
		margin: 15px 0 0 0;
	}

	&__title {
		display: block;
		font-size: 1.5rem;
		font-weight: bold;
		margin: 0;
		text-align: center;

		a {
			text-decoration: none;
			color: #222;
			&:hover {
				color: $primary;
			}
		}
	}

} //End .homepage-attorney