/*-------------------------------------------------
Newsletter Page Styles
- page-newsletters.php
---------------------------------------------------*/

.page-template-page-newsletters-php {

} //End .page-template-page-newsletters-php



//Main List Styles
.newsletter-list {

}


//Single Newsletter Styles
.single-list-newsletter {

    text-decoration: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;

    @media (min-width: 768px){
        display: flex;
        justify-content: space-between;

    }

    a{
        text-decoration: none;
    }

    .featured-bg {
        width: 250px;
        display: block;
        height: 300px;
        background-size: cover;
    }

    .newsletter-content {
        @media (min-width: 768px){
            padding-left: 40px;
            width: calc(100% - 250px);
        }
    }

    .read-more {
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid $primary;
        border-radius: 4px;

        &:hover {
            background: $primary;
            border: 1px solid $primary;
            color: #fff;
        }
    }

}


/*-------------------------------------------------
Single Newsletter Page Styles
---------------------------------------------------*/

.single-newsletter-content {
    
}