/*-------------------------------------
General Single Page & Post Styles
--------------------------------------*/

//Adjust site content padding on single pages
.page, .single, .post, .blog, .archive {

    @media (min-width: 960px) {
        .sidebar {
            margin-top: -250px;
            position: relative;
            z-index: 30;
        }
    }

}


//Header & Breadcrumb Styles

.interior-header {

    width: auto;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;
    margin-top: -60px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &__top {
        position: relative;
        padding: 30px;
        background: url(../images/default-header-bg.jpg) no-repeat center center;
        background-size: cover;
        

        //Overlay
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #000;
            opacity: 0.76;
        }

        @media (min-width: 768px){
            padding: 50px 30px;
        }

        @media (min-width: 1399px){
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    &__title {

        position: relative;
        color: #fff;
        text-transform: uppercase;
        font-size: 2.0rem;
        display: block;
        text-align: center;
        font-family: $sans-serif;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        font-weight: bold;

        @media (min-width: 960px){
            width: 65%;
            font-size: 2.9rem;
            text-align: left;
        }

        @media (min-width: 1399px){
            width: 65%;
        }

    }

    &__breadcrumbs {
        padding: 10px 30px;
        text-transform: uppercase;
        color: #666;
        font-size: 0.9rem;
        //background: linear-gradient(to bottom, #e0e0e0, #fff);
        background: #eaeaea;

        .wrapper {
            margin: 0 auto;
        }

        #breadcrumbs {
            @media (min-width: 960px){
                width: 65%;
            }
    
            @media (min-width: 1399px){
                width: 65%;
            }
        }

       

        p { 
            margin-bottom: 0; 
            border-bottom: 1px #aaa;
            display: block;
        }

        a {
            color: $primary-dark;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
                color: $secondary;
            }
        }
    }

} //End .-interior-header


//Fullwidth Page Header Adjustments
.fullwidth-template {
    .interior-header {
        &__title {
            width: 100%;
            margin: 0;
            text-align: center;
        }
    }
} //End .fullwidth-template
