/*---------------------------
Results Page Template Styles
- page-results.php
----------------------------*/

.page-template-page-results-php {
    
} //End .page-template-page-results-php


//Single Result Listing 
.result-listing {

    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;

    &:nth-last-of-type(1){
        border-bottom: none;
    }

    h3 {
        margin-bottom: 0;
        line-height: 1.2;
        a {
            text-decoration: none;
        }
    }

    &__meta {
        text-transform: uppercase;
        color: #a0a0a0;
        display: block;
        margin-bottom: 15px;
    }

    &__more {
        display: inline-block;
        padding: 6px 15px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid $primary;
        transition: 0.2s;
        text-decoration: none;

        &:hover {
            background: $primary;
            color: #fff !important;
        }
    }

} //End .result-listing