/*---------------------------------
Reviews Page Styles

- For inherited markup on page-reviews.php
---------------------------------*/


.page-template-page-reviews-php {

} //End .page-template-page-reviews-php



//Video Testimonial List
.testimonialvideo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: -10px;
    margin-right: -10px;

    @media (min-width: 768px){
        justify-content: space-between;
    }
}

//Single video testimonial
.single-video-block {
    width: 270px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    

    @media (min-width: 768px){
        width: 100%;
        max-width: 410px;
    }

    .single-video {
        transition: 0.2s;
        opacity: 1;
        &:hover {
            opacity: 0.8;
        }
    }

    .testimonials-title {
        font-weight: bold;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.2rem;
        color: $primary;
    }

    .testimonial-quote {
        padding-left: 10px;
        padding-right: 10px;
    }

    .testimonial-client-info {
        font-style: italic;
        padding-left: 10px;
        padding-right: 10px;

    }
} 


//Written Review List
#written-testimonials {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
}


//Single Written Review
.single-written-testimonial {
    
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .testimonial-quote {
        padding-left: 10px;
        padding-right: 10px;
    }

    .testimonial-client-info {
        font-style: italic;
        padding-left: 10px;
        padding-right: 10px;

    }
}

//Social Review Section

#social-testimonials {
    h3 {
        margin-bottom: 5px;
    }
}

.social-review-subtitle {
    text-transform: uppercase;
    color: #505050;
    display: block;
    margin-bottom: 20px;
}

//Single Social Review

.single-social-block {
        
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.review-profile {
    display: block;
    margin-top: 15px;
    

    .review-profile-img {
        margin-top: 10px;
    }

    p {
        margin-bottom: 0;
    }

    .social-reviewed-by {
        font-weight: bold; 
        color: $primary;
    }

    .stars,.rating {
        color: $primary;
    }

    .reviewed-at {
        text-transform: uppercase;
        font-size: 0.9rem;
    }
}