/*------------------------------
Meet Our Team Page Styles
- page-team.php
-------------------------------*/

.page-template-page-team-php {



} //End .page-template-page-team-php



//General Listing
.our-team {

    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;

} //End .our-team



//Single Team Member/Attorney
.team-member {

    width: 100%;
    display: block;
    background: #f0f0f0;
    text-decoration: none;
    transition: 0.2s;
    border-left: 3px solid $primary;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 40px;

    &:hover {
        background: #e6e6e6; 
    }

    @media (min-width: 768px){
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    //Grid

    &__left {
        width: 259px;

        @media (max-width: 767px){
            margin: 15px auto;
        }
    }

    &__right {
        @media (min-width: 768px){
            padding: 15px;
            width: calc(100% - 300px);
        }
    }

    //Content Styles

    &__image {
        float: left;
        margin-right: 10px;

        img {
            align-self: center;
        }
    }

    &__name {
        display: block;
        color: #333;
        font-size: 2.0rem;
        line-height: 1;
    }

    &__designation {
        display: block;
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.3;
        font-weight: normal;
        color: $primary;
    }

    &__content {
        margin-top: 20px;
        color: #333;
    } 

    &__button {
        border: 1px solid $primary;
        color: $primary;
        transition: 0.2s;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        background: #fff;

        &:hover {
            background: $primary;
            color: #fff;
        }
    }

} //End .team-member