/*---------------------------------
Video Listing Page Styles
----------------------------------*/

//General Page Styles
.page-template-page-videos-php {

}


//List Wrapper Styles
.video-listing {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

} //End .video-listing

//Single Video Styles
.single-video-listing {

    border-radius: 4px;
    border: 1px solid #d0d0d0;
    margin: 10px;
    display: block;
    text-decoration: none;
    position: relative;
    max-width: 300px;
    width: 100%;
    opacity: 1;
    transition: 0.2s;

    &__inner {

    }

    &__image {
        display: block;
    }

    &__meta {
        display: block;
        padding: 15px 15px 0 15px;
        text-align: center;
        text-transform: uppercase;
        color: #808080;
        font-size: 0.9rem;
    }

    &__title {
        display: block;
        padding: 5px 15px 15px 15px;
        text-align: center;
        line-height: 1.4;
        font-weight: bold;
    }

    &:hover {
        opacity: 0.8;
        color: $secondary;
    }

    .divider{
        &:nth-last-of-type(1){
            display: none;
        }
    }

} //End .single-video-listing



/*---------------------------------
Single Video Post Type Styles
----------------------------------*/

.single-video {
    
    .divider{
        &:nth-last-of-type(1){
            display: none;
        }
    }

} //End .single-video 

.single-video-embed {

    &__inner {

    }

    &__iframe-wrapper {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    &__meta {
        margin: 20px auto;
        text-align: left;
        text-transform: uppercase;
        font-weight: normal;
        background: #e0e0e0;
        background: linear-gradient(to right, #e0e0e0, #fff);
        padding: 10px 15px;
        font-size: 0.95rem;
        border-left: 3px solid $primary;
    }

    &__content {

    }

} //End .single-video
