/*
This is only applied in the admin
- It is NOT compiled from SCSS and can be directly edited
*/

#acf-group_5a0403053c817, #acf-group_5a0ade2b6ff8b {
    display: none !important;
}

#genesis_inpost_scripts_box {
    display: none !important;
}