/*-------------------------------------------
Global Theme Styles & General Overrides
--------------------------------------------*/

//General Wrapper Styles

body {
    background: #fff;
    color: #222;
    font-family: $sans-serif;
    font-size: 14px;

    @media (min-width: 768px){
        font-size: 16px;
    }

    @media (min-width: 1400px){
        font-size: 18px;
    }
}

.site-inner {
    max-width: 1400px;
    background: #fff;
    //box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

//Fix for resize splitting Mobile -> Desktop
.site-container {
    @media (min-width: 768px){
        transform: translateX(0) !important;
    }
}


//General Text Styles
.content {

    h1, h2, h3, h4, h5, h6 {
        font-family: $sans-serif;
        color: $primary;
        font-weight: bold;

        b, strong {
            font-weight: bold;
        }
    }

    a {
        transition: 0.2s;
        color: $primary;

        &:hover {
            color: $secondary;
        }
    }

    iframe {
        margin: 20px auto;
        display: block;
    }

} //End .content

//Responsive iFrames
.responsive-iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

//Apex Chat Mobile Modifications
@media (max-width: 767px) {

    .livechat {
        display: none !important;
    }

    #apexchat_static_tab_text {
        transform: translateX(46%) translateY(-50%) rotate(-90deg) scale(0.8) !important;
    }

    //Responsitioning Userway on Mobile to Avoid Apex
    .userway_mobile {
        bottom: 70px !important;
        left: 10px !important;
        top: auto !important;
        right: auto !important;
    }
}


//Archive Page Modifications
.archive {
    &.tag, &.category, &.tax-news_category {
        .content-sidebar-wrap > h2.entry-title {
            display: none;
        }
    }
}  



/*---------------------------------
Near Me & Other CTA Styles
----------------------------------*/

.topcta, .bottomcta, .rs-content-cta {
    display: block;
    border: 3px solid $secondary;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    background: $primary;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.2;
    padding: 15px;
    border-radius: 6px;
    margin: 30px auto;
    width: 100%;
    font-weight: normal;
    //text-transform: uppercase;

    a {
        color: #99acc3;
        text-transform: none;
        //font-size: 2.1rem;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        padding-top: 10px;
        &:hover {
            color: darken( #99acc3, 15%);
            text-decoration: none;
        }
    }
}

