/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/


//Typgraphy

$sans-serif:            'Proxima Nova', 'Source Sans Pro', Arial, sans-serif;
$sans-serif-condensed:  $sans-serif;
$serif:        'Times New Roman', serif;

//Colors
$primary-alt:   #99acc3;
$primary:       #003e7e;
$primary-dark:  darken($primary, 15%);
$primary-light: lighten($primary, 15%);
$secondary:     #d71920;

$sevenish-gray: #d1d1d1;
