/*---------------------------------------
Global Footer Styles
---------------------------------------*/

.site-footer {
    width: 100%;
    padding: 20px 0px;
    clear: both;
    color: #fff;
    background: $primary;
    line-height: 1.5;
} //End .site-footer


//Contact Form Section Styles
.footer-contact-form {

    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    &__inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title {
        display: block;
        font-family: $serif;
        font-size: 1.8rem;
        margin-bottom: 10px;

        @media (min-width: 768px){
            font-size: 2.2rem; 
        }

        @media (min-width: 1140px){
            font-size: 2.7rem;
        }
    }

    &__subtitle {
        display: block;
        line-height: 1.5;
        font-family: $sans-serif-condensed;
        margin-bottom: 20px;
        font-size: 1.3rem;
        letter-spacing: 1px;

        @media (min-width: 768px){
            font-size: 2.0rem;
        }

    }

    &__form {

        p { margin-bottom: 0; line-height: 1;}
        br { display: none; }
        
        input[type="text"], input[type="email"], input[type="tel"], textarea {
            display: block;
            margin-bottom: 10px;
        }

        //Makeshift Grid
        .first-name {
            width: calc(50% - 5px);
            float: left;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }
        .last-name {
            width: calc(50% - 5px);
            float: right;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }

        .email {
            clear: both;
            width: calc(50% - 5px);
            float: left;
            display: block;
            
            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }

        .phone {
            width: calc(50% - 5px);
            float: right;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }

        }

        textarea {
            clear: both;
        }

        input[type="submit"]{
            display: block;
            color: #fff;
            background: $secondary;
            font-size: 1.6rem;
            transition: 0.2s;
            border-radius: 0;
            margin: 30px auto 0 auto;

            &:hover {
                background: darken($secondary, 10%);
                color: #fff;
            }
        }

        

    } //End __form
 
} //End .footer-contact-form


//Footer Call to Action
.footer-cta {
    background: #166198;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-family: $serif;
    text-align: center;
    line-height: 2;
    padding-top: 30px;
    font-size: 1.2rem;
    padding-bottom: 30px;

    @media (min-width: 768px){
        font-size: 1.9rem;
    }

    &__inner {

    }

    &__telephone-link {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: none;
        }

        @media (min-width: 768px){
            font-size: 2.15rem;
        }
    }

} //End .footer-cta


//Footer Widget Areas
.footer-widgets {
    padding: 20px 10px;
    background: transparent;

    &__inner {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__office-information {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;

        @media (min-width: 768px){
            width: calc(50% - 30px);
            margin-right: 30px;
            margin-bottom: 0;
        }

        address {
            font-style: normal;
        }

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: none;       
            }
        }

        iframe {
            margin-top: 20px;
            max-width: 250px;
            height: 150px;
        }
    }

    &__navigate {
        width: 100%;
        margin-bottom: 0;

        @media (min-width: 768px){
            //width: calc(25% - 30px);
            //margin-right: 30px;
            //margin-bottom: 0;
        }
    }

    &__practice-areas {
        width: 100%;
        margin-bottom: 30px;

        @media (min-width: 768px){
            width: 25%;
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

} //End .footer-widgets

//Single Footer Widget Styles
.footer-widget {

    font-size: 1.1rem;

    h3 {
        display: block;
        font-family: $serif;
        font-size: 1.5rem;
        text-align: left;
        letter-spacing: 2px;

        @media (min-width: 768px){
            font-size: 1.85rem;
        }
    }

    ul {
        text-align: left;
        font-size: 1.1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        li {
            padding-bottom: 3px;
            display: inline;
        }

        a {
            color: #fff;
            font-weight: bold;
            font-family: $sans-serif-condensed;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

} //End .footer-widget


//Bottom Footer Styles
.footer-bottom {

    padding-top: 30px;
    

    &__inner {
        padding-top: 30px;
        border-top: 1px solid $primary-light;
    }

    //Navigation Row
    &__navigation {

        margin-bottom: 15px;

        ul {
            li {
                padding-bottom: 3px;
                display: inline;
            }
    
            a {
                color: #fff;
                font-weight: bold;
                
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.1rem;
                
    
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }

    //Copyright
    &__copyright {
        font-family: $sans-serif-condensed;
    }

} //End .footer-bottom


/*---------------------------------------
Footer Widget Style Content Area Styles
---------------------------------------*/

.footer-content {

    &__inner {

        @media (min-width: 768px) {
            display: flex;

        }

        a {
            color: #fff;
            text-decoration: none;
            transition: 0.2s;

            span {
                position: relative;
                transition: 0.2s;
                right: 0;
            }

            &:hover {
                color: #c0c0c0;
                text-decoration: none;

                span {
                    right: -3px;
                }
            }
        }
    }

    &__logo {
        flex: 2 1 auto;
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }

    }

    &__links {
        flex: 1 1 auto;
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            text-align: left;
            margin-bottom: 0;
        }
    }

    &__contact {
        flex: 1 1 auto;
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            text-align: left;
            margin-bottom: 0;
        }   
    }

    &__social {

        margin-top: 30px;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
        }

        li {
            display: inline-block;
            margin: 5px;

        }

        a {
            display: block;
            height: 43px;
            width: 44px;
            border: 1px solid #fff;
            padding: 5px;
            background: transparent;
            font-size: 1.3rem;

            &:hover {
                background: #fff;
                color: $primary;
            }
        }
    }
    
    &__heading {
        font-weight: bold;
        text-transform: uppercase;   
    }

    &__link-list {
        li {
            margin-bottom: 10px;
        }

         a {
            font-size: 1.2rem;
         }
    }

    &__contact-info-header {
        font-size: 1.2rem;
        margin-bottom: 15px;
        display: block;
    }

    .footer-contact-info {
        position: relative;
        padding-left: 50px;
        margin-bottom: 15px;

        &:nth-last-of-type(1){
            margin-bottom: 0;
        }

        @media (max-width: 767px){
            padding-left: 0;
        }

        i {
            position: absolute;
            left: 4px;
            top: 4px;
            font-size: 1.3rem;
            line-height: 1;

            @media (max-width: 767px){
                position: static;
                display: block;
                text-align: center;
                margin-bottom: 10px;
            }
        }

        p {
            margin-bottom: 0;
            font-size: 1.2rem;
            line-height: 1.2;
        }
    }

}    //End .footer-content 

/*---------------------------------------
Footer Review/Video Section
---------------------------------------*/

.footer-review-section {

    background: #222;
    padding-top: 40px;
    padding-bottom: 40px;

    &__inner {

    }

    &__title {
        color: #fff;
        font-weight: bold;
        font-sizez: 3.2rem;
        text-align: center;
        text-transform: uppercase;
        display: block;

        @media (min-width: 768px){
            font-size: 3.2rem;
        }
    }

    &__carousel {
        max-width: 600px;
        margin: 20px auto;
        width: 100%;
    }

    &__disclaimer {
        max-width: 500px;
        font-size: 0.9rem;
        color: #c0c0c0;
        text-align: center;
        font-style: italic;
        display: block;
        margin: 20px auto 0 auto;
    }

    .owl-dots {
        padding-top: 30px;
        display: flex !important;
        justify-content: center !important;
    }

    .owl-dot {

        display: block !important;
        height: 15px !important;
        width: 15px !important;
        background: #fff !important;
        border: 2px solid #fff !important;
        border-radius: 100% !important;
        margin: 5px !important;

        &.active {
            background: $primary !important;
        }
    }

} //End .footer-review-section

//Single Review
.footer-review {

    width: 100%;
    max-width: 550px;

    &__video {
        display: block;
        margin-bottom: 30px;

        iframe {
            width: 100%;
            height: 280px;
            display: block;
        }
    }

    &__author {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
    }

    &__type {
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        margin-bottom: 15px;
        display: block;
        font-size: 1rem;
        color: #dadada;
    } 

    &__content {
        color: #fff;
        text-align: center;
        position: relative;
    }

} //End .footer-review