/*---------------------------------------
Sidebar Widget Styles
----------------------------------------*/

.sidebar {

	margin-bottom: 40px;

    .widget-title {
        font-family: $sans-serif-condensed;
        font-weight: bold;
        color: $primary-dark;
        font-size: 1.5rem;
        text-align: center;
		display: block;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #999;
	}
	
	//Unifying Sidebar Spacing

	.widget {
		margin-bottom: 0;
	}

	.location-widget-outer, .sidebar-form__form, .widget .get-help {
		margin-bottom: 40px;
	}

	.faq-page-listing:nth-of-type(1), .faq-filter-portfolio-wrapper {
		margin-top: 0;
	}


} //End .sidebar



//List Widget Styles
.list-widget {

    //box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
	overflow: hidden;


    .widget-title {
        color: #fff;
        background: $primary-dark;
        display: block;
        padding: 15px;
        margin-bottom: 0;
    }

    ul {
			padding: 0 20px 20px 20px;
        
        li {
 
			margin-bottom: 0;
            

            &:nth-last-of-type(1){
                border-bottom: none;
            }
            
            a {
                display: block;
                text-transform: none;
				text-decoration: none;
				padding: 15px;
				border-bottom: 1px solid #bfbfbf;
                transition: 0.2s;
				font-weight: normal;
				font-size: 1.2rem;
                padding: 10px 2rem 10px 10px;
				color: #333;
				position: relative;
				
                &:hover {
					color: $secondary;
					border-bottom: 1px solid $primary;

					&:after {
						right: 5px;
					}
				}
				
				&:after {
					position: absolute;
					right: 10px;
					transition: 0.2s;
					font-family: fontawesome;
					font-size: 1.3rem;
					content: '\f105';

				}
            }

           

        } //End li

    } //End ul

} //End .list-widget

//Location Practice Areas Widget
.location-widget-title {

    color: #444;
    display: block;
    padding: 15px;
    margin-bottom: 0;
    text-align: center;

    &__line-1 {
        margin-bottom: 0;
		font-weight: 100;
		display: block;
		line-height: 1;
		font-family: $sans-serif;
		font-size: 2.5rem;
		text-transform: uppercase;
        padding-bottom: 10px;
    }

    &__line-2 {
		padding-top: 0;
		font-size: 1.2rem;
		display: block;
		text-transform: uppercase;
		font-weight: 100;
		font-family: $sans-serif;
        margin-bottom: 0;
        line-height: 1;
	}
	
	&__line-0 {
		padding-top: 0;
		font-size: 1.2rem;
		display: block;
		text-transform: uppercase;
		font-weight: 100;
		font-family: $sans-serif;
        margin-bottom: 6px;
        line-height: 1;
    }

} //End .location-widget-title

.location-widget-outer {
	background: #f0f0f0;
}

.location-widget-inner {
    .secondary-location-link {
        display: none;
    }
}

//FAQ Widget Styles
.sidebar {

    .faq-page-listing {

		border: 1px solid #dadada !important;
		
        //box-shadow: 0 3px 5px rgba(0,0,0,0.2);

        img {
            width: 100%;
            height: auto;
        }

    } //End .faq-page-listing

} //End .sidebar

/*---------------------------------------
Sidebar Form Styles
----------------------------------------*/

.sidebar-form {
    &__form {
		max-width: 400px;
		width: 100%;
		padding: 15px;
		background: $primary;
		border: 3px solid #fff;
		box-shadow: 0 2px 4px rgba(0,0,0,0.5);

		@media (max-width: 959px){
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
		}

		p {
			margin-bottom: 0;
		}

		input, textarea {
			margin-bottom: 15px !important;
		}

		textarea {
			height: 150px;
		}

		input[type="submit"]{
			background: #d71920;
			color: #fff;
			border-radius: 45px;
			text-align: center;
			display: block;
			width: 100%;
			max-width: 280px;
			font-size: 1.2rem;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			transition: 0.2s;
			box-shadow: 0 0px 10px rgba(255,255,255,0.8);

			&:hover {
				background: darken(#d71920, 15%);
				color: #fff;
			}
		}
	}

	&__form-title {
		display: block;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		
		line-height: 1.2;
		font-size: 2.0rem;

	}

	&__form-subtitle {
		color: #99acc3;
		font-weight: 300;
		font-size: 1.9rem;
		line-height: 1.2;
		position: relative;
		display: block;
		margin-bottom: 25px;
		padding-bottom: 25px;
		text-align: center;

		&:before {
			content: '';
			background: #99acc3;
			width: 80px;
			height: 4px;
			margin-left: -40px;
			position: absolute;
			bottom: 0;
			left: 50%;
		}
	}

	//Form Grid Styles
	.row {
		
		@media (min-width: 768px){
			display: flex;
			margin-bottom: 10px;
		}
	}
	
	.col-md-12{
		width: 100%;
		margin-bottom: 10px;

		@media (min-width: 768px){
			margin-bottom: 0;
		}
	}

	.col-md-6 {
		
		width: 100%;
		margin-bottom: 10px;

		@media (min-width: 768px){
			width: 50%;
			margin-bottom: 0;
			&:nth-of-type(1){
				padding-right: 5px;
			}
			&:nth-of-type(2){
				padding-left: 5px;
			}
		}
	}
}


/*---------------------------------------
Sidebar Get Help/Call Now Wiget Styles
----------------------------------------*/

.get-help {

    max-width: 400px;
    margin: 0;
    background: url(../images/sidebar-randall-sevenish.png) no-repeat center center;
	background-size: cover;
	clear: both;
	border-radius: 4px;
	overflow: hidden;

    &__top {
        min-height: 300px;
        display: block;
    }

    &__bottom {
        padding: 15px;
        background: $primary;
        color: #fff;
	}

	&__heading {
		display: block;
		text-align: center;
		color: #FFF;
		font-weight: bold;
		font-family: $sans-serif;
		margin-bottom: 5px;
		text-transform: uppercase;
		font-size: 1.7rem;
	}
	
	&__contact {
		
		position: relative;
		padding-left: 60px;
		
		&:before {
			content: '\f095';
			position: absolute;
			left: 10px;
			font-size: 2.0rem;
			line-height: 1;
			font-family: fontawesome;
			color: $primary-alt;
		}

		a {
			display: block;
			margin-bottom: 5px;
			line-height: 1.3;
			font-size: 1.3rem;
			text-decoration: none;
			color: $primary-alt;
			transition: 0.2s;

			&:hover {
				color: #FFF;
				text-decoration: none;
			}
		}

		span {
			font-size: 1.1rem;
			display: block;
			line-height: 1.3;
			color: $primary-alt;
		}
	}

} //End .get-help
