@import "custom/genesis-boilerplate.css"; // Do Not Delete!


// Write Your Code There

/* Mobile menu */
.mobile-menu {display: none;}
// TODO: Adjust for admin bar under 700px
/* PLEASE adjust max-width:1000px breakpoint to the width your menu will use */
@media (max-width:1000px) {
	.nav-primary {display: none;}
	.slideout-open .slideout-menu {display: block;}
	.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 255px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
	}
	.admin-bar .slideout-menu {
    top: 32px;
	}
	body {padding-top: 58px;}
	.site-header {
		z-index: 99;
		position: fixed;
		top: 0;
		width: 100%;
	}
	.internal-hero-image,
	.homepage-hero-image {z-index: 98;position: relative;}
	.admin-bar .site-header {
    top: 32px;
	}
	.site-inner {
		z-index: 98;
		width: 100%;
		background: #fff;
		position: relative;
	}
	.site-footer {z-index: 98;position: relative;}
	.copyright {z-index: 98;position: relative;background: #fff;}
	.slideout-open, .slideout-open body, .slideout-open .slideout-panel {
    overflow: hidden;
	}
	.mobile-menu {
		background: #0b3969;
		ul {
			li {
				a {
					display: block;
					font-size: 15px;
					line-height: 25px;
					letter-spacing: 0.25px;
					text-transform: uppercase;
					text-align: left;
					color: #fff;
					border-bottom: 1px solid #dcdcdc;
					padding: 10px 30px 10px 20px;
					position: relative;
					text-decoration: none;
					&:hover {
						color: #0b3969;
						background: #fff;
					}
				}
			}
			li.menu-item-has-children {
				position: relative;
				>a {
					&:after {
						content: '';
						display: block;
						border-top: 5px solid #fff;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						float: right;
						position: absolute;
						top: 20px;
						right: 14px;
					}
					&:hover {
						&:after {
							border-top-color: #0b3969;
						}
					}
				}
			}
		}
		ul.sub-menu {
			li {
				a {
					font-size: 13px;
					padding: 10px 10px 10px 40px;
				}
				.sub-menu {
					a {
						font-size: 13px;
						padding: 10px 10px 10px 50px;
					}
				}
			}
			display: none;
		}
		.open {
			>ul.sub-menu {
				display: block;
			}
		}
	}
	.mobile-menu-oppener {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 45px;
	}
	#burger {
		width: 40px;
		height: 24px;
		position: relative;
		margin: 20px auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		cursor: pointer;
		position: absolute;
		right: 20px;
		top: 4px;
		span {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: #000;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.5s ease-in-out;
			-moz-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			&:nth-child(1) {
				top: 0px;
			}
			&:nth-child(2) {
				top: 10px;
			}
			&:nth-child(3) {
				top: 10px;
			}
			&:nth-child(4) {
				top: 20px;
			}
		}
	}
	#burger.open {
		span {
			&:nth-child(1) {
				top: 10px;
				width: 0%;
				left: 50%;
			}
			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&:nth-child(4) {
				top: 8px;
				width: 0%;
				left: 50%;
			}
		}
	}
}
@media screen and (max-width:782px) {
	.admin-bar .slideout-menu {
		top: 46px;
	}
	.admin-bar .site-header {
		top: 46px;
	}
}
