/*   
Theme Name: Sevenish Law
Description: This is an exclusive, fully SEO optimized Wordpress theme developed for DC Immigration Lawyer.
Author: Sevenish Law
Version:1.0
*/

body{
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.8;
    font-size: 17px;
    color: #1E1E1E;
    float: left;
    width: 100%;
    background: #fff;
}
p , ul li, ol li{
    color:#313131;
} 
p {
    margin: 0 0 20px;
}
#page-section p:last-of-type {
    margin-bottom: 0;
}
#inner-pages #page-section.col-sm-8 h2 {
    margin-top: 30px;
    display: block;
    line-height: 1.2;
}
#inner-pages #page-section.col-sm-8 > h2 {
    margin-top: 0;
}
* { 
    margin:0;
    padding:0;
}
a {
    color: #25170e;
    outline: 0 !important;
}
a[href^="tel:"], a {
    text-decoration: none !important;
    transition: all ease-in 0.2s;
}
iframe, img{
    max-width: 100%;
}
img{
    height:auto;
}
a:hover, a:focus{
    color:#b98c4b;   
    outline: none !important;
    cursor: pointer;
}
.btn:active, .btn:focus{
    outline: none !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    background-color: #7f7b6a;
    border-color: #97783f;
}
input[type="submit"], .banner-content input[type='submit'] {
    background: #bf1426 none repeat scroll 0 0;
    border-radius: 4px;
    border-top: 1px solid #b74e5d;
    height: auto;
    padding: 9px 10px;
    text-transform: uppercase;
    font-size:15px;
}
.strong {
    font-weight:bold;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.underline {
    text-decoration: underline;
}
.uppercase {
    text-transform: uppercase;
}
.fullwidth {
    float:left;
    width:100%;
}
.halfwidth {
    float:left;
    width:50%;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 30px 15px 0;
}
img.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}
img.alignnone {
    margin: 5px 20px 20px 0;
}
img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
img.aligncenter {
    display: block;
    margin: auto auto 20px;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.white-text *{
    color:#fff;
}
.single-section.white-text p a{
    color:#bf1e2e;
}
.single-section.white-text p a:hover{
    text-decoration: underline !important;
}
h1, h2, h3, h4, h5{
    color:#010101;
    font-weight:500;
    text-align: left;
}
.text-center h1, .text-center h2, .text-center h3, .text-center h4, .text-center h5{
    text-align: center;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 35px;
}
input, textarea {
    max-width: 100%;
}
#page-section ol {
    padding-left: 19px;
}
#page-section.col-sm-8 {
    padding-right: 70px;
}
.white-text *{
    color: #fff;
}
.single-section ul li {
    padding-left: 35px;
    position: relative;
    list-style: none;
    margin: 10px 0;
    background-image: url('img/practice-arrow.png');
    background-position: 0 12px;
    background-repeat: no-repeat;
    background-size: 25px;
}
.single-section img{
    border: 1px solid #ccc;
    padding: 6px;
    background-color: #fff;

}
.featured-div img{
    /*    max-width: 350px;
        width: 100%;*/
    max-width: 100%;
    height: auto;
}
.bg-cover{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.btn, input[type='submit'] {
    color: #fff;
    /*background: #8d8975;*/
    font-size: 18px;
    padding: 15px 36px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
    line-height: normal;
    transition: all ease-in 0.2s;
    border: 0;
    background:rgb(141, 137, 117);
    background: -moz-linear-gradient(top,  rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(130, 124, 97)), color-stop(100%, rgb(76, 70, 45) ));
    background: -webkit-linear-gradient(top,  rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -o-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -ms-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: linear-gradient(to bottom, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9e58', endColorstr='#b08345', GradientType=0 );
}
.single-section{
    padding: 90px 0;
    position: relative;
    overflow: hidden;
}
.single-section .ui-h2{font-size:42px;}

.single-section h1, 
.single-section h2, 
.single-section h3, 
.single-section h4, 
.single-section h5,
.single-section .ui-h2{
    font-weight: 300;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px;
    margin-top: 0;
}
.single-section h2:after,
.single-section h3:after, 
.single-section h4:after, 
.single-section h5:after,
.single-section h1:after,
.single-section .ui-h2:after{
    content: '';
    position: absolute;
    background: #25170e;
    height: 5px;
    width: 60px;
    bottom: 0;
    left: 0;
}

.single-section .ui-h2:after{
    right:0;
    margin:auto;
    background: #fff;
}
.text-center h1:after,
.text-center h2:after,
.text-center h3:after, 
.text-center h4:after, 
.text-center h5:after,
.text-center .ui-h2:after {
    right: 0;
    margin: auto;
}
.white-text h2:after, 
.white-text h3:after, 
.white-text h4:after, 
.white-text h5:after,
.white-text.ui-h2:after{
    background: #fff;
}
.wpcf7-form-control-wrap {
    position: relative;
    display: block;
    max-width: 100%;
}
.form-group {
    line-height: 0;
    margin-bottom: 20px;
}
/*************** Header ***************/
#site-header {
    position: fixed;
    z-index: 111;
    background: #fff;
}
#site-header.small-header {
    box-shadow: 0 0 10px #ccc;
}
.header-top {
    transition: all ease-in 0.3s;
    background: #e5dec2;
}
.header-top h1{
    margin: 0;
}
#header-left img  {
    max-height: 92px;
    margin: 15px 0px;
    transition: all ease-in 0.3s;
}
.small-header #header-left img {
    margin: 5px 0;
}
ul.social-share {
    margin-bottom: 0;
}
ul.social-share li, #main-footer #footer-col-left li {
    display: inline-block;
    margin-right: 0 !important;
    padding: 0;
}
ul.social-share li a{
	padding: 0 !important;
}
ul.social-share li a, #main-footer #footer-col-left li a{
    text-align: center;
    font-size: 18px;
    display: inline-block;
    margin-right: 0 !important;
}
#main-footer #footer-col-left ul li a:hover{
    background: #b88a4a none repeat scroll 0 0;
}
ul.social-share li a :after{
	content: "" !important;
	display: none;
}
ul.social-share li a:hover, #footer-col-left a:hover {
    color: #7f7b6a;;
}
#footer-col-left a.footer-logo-anchor:hover{
    background: transparent !important;
}
ul.social-share li{
    background-image: none;
}

.header-phone-area{
    display: inline-block;
    position: relative;
    padding-left: 40px;
    text-align: left;
    word-spacing: 0;
    margin-bottom: 0;
}
.header-phone-area img{
    position: absolute;
    left: 0;
    top: 1px;
    bottom: 0;
    margin: auto;
    max-height: 35px;
}
.header-phone-area li {
    display: block;
    line-height: normal;
}
.header-phone-area li span {
    padding-left: 5px;
}
#header-left, #header-middle, #header-right {
    float: none;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    font-weight: 500;
    line-height: 1.4;
}
#header-right {
    width: 39%;
}
#header-right h3 {
    font-size: 20px;
    display: inline-block;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}
#header-middle h3 {
    font-size: 20px;
    font-family: Roboto;
    margin: 0px;
    display: inline-block;
}
#header-middle h3 img{
    margin-left: 5px;
}
#header-left h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #171a2d;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 5px;
}
#header-nav {
    border: 0;
    margin: 0;
    min-height: 100%;
    text-align: center;
}
.header-nav{
    padding: 0;
}
#header-nav .navbar-nav {
    float: none;
    margin: 0;
    width: 100%;
}
#header-nav .navbar-nav>li {
    float: none;
    display: inline-block;
    margin-right: -4px;
}
.header-bottom {
    border-top: 1px solid #e7ebee;
    background: #25170e;
}
.navbar-nav>li>a{
    padding: 13px 32px;
    border-right: 1px solid #311e12;
    color: #fff;
    border-left: 1px solid #1b100a;
    background: transparent;
}
.navbar-nav > li > a:focus{
    background: transparent;
    color: #fff;
}
#site-header .header-bottom li.current-menu-item > a, #site-header .header-bottom li > a:hover,
#site-header li.current-menu-ancestor > a, #site-header li.current_page_parent > a{
    /*background: #8d8975;*/
    background: rgba(123, 117, 93,1);
    background: -moz-linear-gradient(top, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(205,158,88,1)), color-stop(100%, rgba(176,131,69,1)));
    background: -webkit-linear-gradient(top, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    background: -o-linear-gradient(top, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    background: -ms-linear-gradient(top, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    background: linear-gradient(to bottom, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#847e63', endColorstr='#8e8973', GradientType=0 );
    color: #fff;
}
.header-bottom a {
    text-transform: uppercase;
}
.nav > li .sub-menu {
    display: none;
    /*background: #4a5255;*/
    position: absolute;
    list-style: none;
    z-index: 1;
    left: 1px;
    background: rgba(123, 117, 93,1);
    background: -moz-linear-gradient(top, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(205,158,88,1)), color-stop(100%, rgba(176,131,69,1)));
    background: -webkit-linear-gradient(top, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    background: -o-linear-gradient(top, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    background: -ms-linear-gradient(top, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    background: linear-gradient(to bottom, rgb(123, 117, 93) 0%, rgb(135, 130, 101) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#847e63', endColorstr='#8e8973', GradientType=0 );
}
.nav > li:hover .sub-menu {
    display: block;
    min-width: 232px;
}
#site-header .nav > li .sub-menu li a{
    color: #fff;
    padding: 7px 15px;
    display: block;
    font-size: 13px;
    border-top: 1px solid #9a988e;
    border-bottom: 1px solid #615d4d;
    text-align: left;
}
#site-header .nav > li .sub-menu li:first-child a {
    border-top: 0;
}
#site-header .nav > li .sub-menu li:last-child a {
    border-bottom: 0;
}
/**************** Footer ****************/
#main-footer {
    background: #030303;
}
/********** Site Footer **********/
#main-footer #footer-top {
    padding: 80px 0 50px;
    overflow: hidden;
    background-image: url('img/footer-bg.jpg');
}
#main-footer #footer-col-left ul{
    margin-top: 25px;
}
#main-footer .white-text .social-share span,
#main-footer .social-share a, 
#main-footer .social-share span.fa{
	color: #1e1e1e !important;
}
ul.social-share li a {
    border: 1px solid #e5dec2;
    font-size: 18px;
    height: 38px;
    line-height: 38px !important;
    margin-right: 0;
    width: 38px;
	padding: 0 !important;	
}
#page-sidebar .social-share li a::after {
	content: "" !important;
	display: none !important;
}
.single-section .social-share img{
	border: 0;
}
#page-sidebar .social-share img{
	height: 25px;
	border: 0;
}
#footer-col-left {
    font-size: 16px;
}

#footer-bottom {
    background: #25170e;
    padding: 10px 0;
    font-size: 13px;
}
#footer-bottom p {
    margin-bottom: 0;
}
#footer-col-left:after, #footer-middle:after{
    content: '';
    position: absolute;
    height: 1000%;
    top: -80px;
    bottom: -80px;
    background: #352a24;
    right: 0;
    width: 1px;
}
#footer-middle, #footer-right {
    padding: 0 15px 0 120px;
}
#main-footer .widgettitle {
    font-size: 22px;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 500;
}
#main-footer .widgettitle:after {
    content: '';
    height: 1px;
    width: 45px;
    background: #8d8975;
    position: absolute;
    bottom: 0;
    left: 0;
}
#main-footer #footer-middle li a {
    padding: 3px 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
}
#main-footer #footer-middle li{
    display: block;
}
#footer-top #footer-right li, .single-section .contact-info li {
    list-style: none;
    padding-left: 40px;
    position: relative;
    margin: 20px 0;
    background-image: none;
}
#footer-top #footer-right li:last-child, #footer-right ul {
    margin-bottom: 0;
}
#footer-right ul li img, .contact-info ul li img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px 0 0;
    border: 0;
}
#footer-right a:hover span {
    color: #b98c4b;
}
#footer-right h4 {
    font-size: 19px;
    font-weight: bold;
}
#footer-bottom li {
    padding: 0 10px;
    border-right: 1px solid rgba(255,255,255,.28);
    line-height: normal;
    display: inline-block;
}
#footer-bottom li:last-child {
    border: 0;
}
#footer-bottom li a, #footer-bottom *{
    color: #b8b8b8;
}
#footer-bottom a:hover {
    color: #7f7b6a;
}
#footer-bottom .menu {
    margin-bottom: 0;
}
#main-footer li{
    background-image: none;
}
#footer-right li:first-child a {
    color: #7f7b6a;
}
#footer-right li:first-child a span{
    font-size: 11px;
    color: #7f7b6a;
}
/*************** Page Banner ***************/
#page-banner {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 520px;
    align-items: flex-start;
    padding-top: 40px;
}
.banner-content{
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
}
.banner-content .col-sm-6{
    display:inline-block;
    vertical-align:middle;
    float:none;
    padding:30px 0 0
}
#inner-pages .banner-content .container{
    max-width: 68%;
}
.banner-content .col-sm-6:first-of-type{
    padding-left: 75px;
    padding-top: 0px;
    width: 48%;
    /*padding-top: 30px;*/
}
.banner-content .col-sm-6:last-of-type {
    padding-left: 19px;
    width: 65%;
}
.banner-content h2 {
    background: rgba(0,0,0,0.6);
    font-size: 54px;
}
.home .banner-content h2{
    background: transparent;
}
.banner-content h2, .banner-content h3 {
    padding:7px 0;
    display: inline-block;
    margin: 0;
    font-weight: 700;
    text-shadow:0 0 4px #000;
}
#inner-pages .banner-content h2, #inner-pages .banner-content h3 {
    padding:7px 22px;
}
.banner-content h3 {
    background: #fff;
    font-size: 29px;
    margin: 10px 0;
    padding: 10px 21px;
    color: #171a2d;
    text-shadow: none;
}
#home-banner-form h3.lf_success {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    text-align: center;
    max-width: 90%;
    margin: 5px 0 !important;
}
#page-banner h3 span,#page-banner p span{
    color: rgb(23, 26, 45);
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    margin-left: 2px;
}
#page-banner p span{
    color: #fff;
}
.banner-content p {
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0 0 8px #000;
    line-height: 1.4;
}
.banner-content .btn:hover, .banner-content .btn:focus, 
#page-sidebar input[type='submit']:hover{
    /*background: #fff;*/
    color: #25170e;
}
.form-content{
    background:rgba(0, 0, 0, 0.75);
    position:relative;
    border-radius: 6px;
    padding: 30px 25px 15px;
}
.banner-title-sec .banner-big-title, #page-banner .banner-small-title {
    font-size: 75px;
    font-weight: 700;
    line-height: 80px;
    font-family: 'Raleway';
}
#page-banner .banner-small-title{
    color: #e4bc27;
}
.banner-content #compact-form{
    position:relative
}
.banner-content .col-sm-4 h3,.banner-content .form-title{
    margin-bottom:0;
    font-size:36px;
    text-align:center;
    margin-top:0;
    display:block;
    line-height:normal;
    font-weight: 300;
    margin-bottom: 25px;
    font-family: 'Raleway';
}
.banner-text {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 10px;
    max-width: 540px;
}


/************** Page Sidebar **************/
#page-sidebar .widget, #page-sidebar form{
    background: #14222f;
    padding: 35px 30px;
    color: #fff;
    /*border-radius: 8px;*/
}
#page-sidebar form{
    padding-bottom: 20px;
}
#page-sidebar form h3 {
    color: #fff;
    margin-bottom: 0;
    padding: 0 10px 0;
    font-size: 32px;
}
#page-sidebar form p {
    margin-bottom: 0;
}
#page-sidebar form h3:after {
    display: none;
}
form input, form textarea {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    font-size: 14px;
    padding: 5px;
    resize: none;
    outline: none;
    line-height: normal;
    height: 35px;
    width:100%;
    font-weight: 300;
}


#page-sidebar form input, #page-sidebar form textarea {    color:#fff; }


#page-sidebar ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#a3b0c3 !important;
    opacity: 1 !important;
}
#page-sidebar ::-moz-placeholder { /* Firefox 19+ */
    color:#a3b0c3 !important;
    opacity: 1 !important;
}
#page-sidebar :-ms-input-placeholder { /* IE 10+ */
    color:#a3b0c3 !important;
    opacity: 1 !important;
}
#page-sidebar :-moz-placeholder { /* Firefox 18- */
    color:#a3b0c3 !important;
    opacity: 1 !important;
}
#page-sidebar form .col-sm-6, #page-sidebar form .col-sm-12 {
    padding: 0 10px;
}
#page-sidebar form textarea {
    height: 100px;
}
#page-sidebar input[type='submit']{
    width: 100%;
}
form .ajax-loader {
    position: absolute;
    right: 40px;
    top: 18px;
}
#below-contact-sec form .ajax-loader{
    top: 23px;
}
#page-sidebar .widgettitle {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#page-sidebar li, #page-sidebar ul {
    padding-left: 0;
    background-image: none;
    margin: 0;
}
#page-sidebar .widget,#page-sidebar form {
    margin-bottom: 40px;
    position: relative;
}
#page-sidebar ul li:first-child a {
    border-top: 0;
}

#page-sidebar ul li:last-child a {
    border-bottom: 0;
}
.home #page-sidebar form, #page-sidebar .widget:last-of-type {
    margin-bottom: 0;
}
.wpcf7-not-valid-tip {
    position: absolute;
    bottom: 3px;
    line-height: normal;
    right: 5px;
    font-size: 12px !important;
}
div.wpcf7-validation-errors{
    margin: 10px 0;
}
.wpcf7-response-output{
    text-align: center;
    font-size: 13px;
    margin: 0 !important;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
.home .main-content, #below-practice-areas {
    background: #e5dec2;
}
/************* Home: Awards Section ***************/
.owl-carousel .owl-item img {
    width: auto;
    border: 0;
    margin: auto;
    max-height: 100px;
    max-width: 160px;
}
.award-slider-section{
    padding: 30px 0;
    background: rgba(53,40,32,1);
    background: -moz-linear-gradient(top, rgba(53,40,32,1) 0%, rgba(29,19,10,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,40,32,1)), color-stop(100%, rgba(29,19,10,1)));
    background: -webkit-linear-gradient(top, rgba(53,40,32,1) 0%, rgba(29,19,10,1) 100%);
    background: -o-linear-gradient(top, rgba(53,40,32,1) 0%, rgba(29,19,10,1) 100%);
    background: -ms-linear-gradient(top, rgba(53,40,32,1) 0%, rgba(29,19,10,1) 100%);
    background: linear-gradient(to bottom, rgba(53,40,32,1) 0%, rgba(29,19,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352820', endColorstr='#1d130a', GradientType=0 );
    /*background: #171a2d;*/
    padding-top: 35px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    position: absolute;
    bottom: 35%;
    left: 0;
    color: #b2b2b2;
    font-size: 22px;
}
.owl-carousel .owl-nav .owl-next {
    right: 0;
    left: auto;
}
.owl-carousel .owl-item {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/***************** Home: Practice Areas *******************/
#practice-areas{
    background-image:url('/wp-content/uploads/2017/11/bicycle-accident-1.jpg');
}
#practice-areas:after {
    content: '';
    display: block;
    clear: both;
}
#practice-areas .container{
    position: relative;
    z-index: 11;
}
#practice-areas .practice-list li {
    padding-left: 0 !important;
    width: 19.5%;
    display: inline-block;
    height: 220px;
    vertical-align: middle;
    margin: 3px !important;
    overflow: hidden;
    float: left;
    /*background-image: none;*/
}
/*#below-practice-areas{
    background: #efefef;
}*/
.practice-list a, .practice-list .details > div {
    display: block;
    width: 100%;
    transition: all ease-in 0.4s;
}
.practice-list .details {
    position: absolute;
    left: 100%;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    bottom: 0;
    align-items: center;
    transition: all 0.5s;
    padding: 0 10px;
}
.practice-list li:hover .details{
    left: 0;
}
.practice-list img {
    display: block;
    margin: auto auto 10px;
    background: transparent;
    border: 0;
    padding: 0;
}
#practice-areas .practice-detail-title {
    font-size: 28px;
    font-weight: 300;
    position: relative;
    padding-bottom: 10px;
    line-height: 1.2;
    display: block;
}
.practice-list {
    padding: 2px 1px;
    margin-top: 20px;
}
.Practice-Area-Main .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    z-index: -1;
}
.Practice-Area-Main a:hover .bg-image{
    z-index: 1;
}
.area-box {
    float: left;
    padding: 2px;
    text-align: center;
    width: 20%;
    position: relative;
    z-index: 2;
}
.practice-inner .area-inner-box {
    background: rgba(255, 255, 255, 0.21) none repeat scroll 0 0;
    min-height: 210px;
    padding: 10px;
}
.area-inner-box {
    align-content: center;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.Practice-Area-Main .main-box {
    -moz-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -mz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
}
.internet-explorer .main-box{
    padding-top: 27%;
}
.internet-explorer .Practice-Area-Main .overlay-box{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.area-inner-box:hover .main-box {
    opacity: 0;
}
.Practice-Area-Main .overlay-box {
    position: absolute;
    height: 100%;
    background: #171a2d;
    top: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -mz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    left: -100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.Practice-Area-Main .overlay-box > div{
    width: 100%;
}
.Practice-Area-Main a:hover .bg-image {
    opacity: 1;
}
.area-inner-box:hover .overlay-box {
    left: 0;
}
.practice-inner {
    margin-top: 20px;
    position: static;
}
.Practice-Area-Main {
    position: relative;
}
#below-tabs {
    background: #ece5d3;
}
#below-tabs:before {content: '';width: 50%;background: #f2efe8;height: 100%;left: 0;top: 0;position: absolute;}
#below-tabs .col-sm-6:first-of-type {
    padding-right: 40px;
}
#below-tabs .col-sm-6:last-of-type {
    padding-left: 40px;
}
#below-tabs .col-sm-6:last-of-type h3:nth-of-type(2) {
    margin-top: 52px;
}


/*********Video Container**********/

.video-container img.home-video-thumb {
    width: 100%;

    margin: 0px;
}

.video-container a{
    position: relative;
    display: inline-block;
}

.video-container a img {
    border-color:#fff;
    padding: 0;
}

.video-container a:before {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    content: '';
    z-index: 5;
}

.video-container a:after {
    color: rgba(255, 255, 255, 0.9);
    content: "\f01d";
    font-family: 'FontAwesome';
    font-size: 50px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    z-index: 8;
}





/************** Home: Attroneys Section **************/
#attorneys-sec .single-attorney {
    display: inline-block;
    padding: 7px;
    background: #392316;
    margin: 11px;
}
#attorneys-sec .single-attorney .attorney-img-block a {
    width: 100%;
    height: 100%;
    display: block;
}
#attorneys-sec .single-attorney img {
    padding: 0;
    border: 0;
    transition: all 0.4s;
}
#attorneys-sec .single-attorney a:hover img {
    transform: scale(1.1);
}
.attorney-img-block{
    overflow: hidden;
}
.single-attorney span {
    display: block;
    line-height: normal;
    font-size: 25px;
    padding: 10px 0 18px;
    font-weight: 600;
}
.single-attorney span.attor-designation {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 0;
    font-weight: 300;
    padding-top: 20px;
}
#free-books-sec{
    /*    background-image: url('img/online-books-bg.jpg');*/
    background-position: top !important;
    background: #e5dec2;
}
#free-books-sec .single-book {
    display: inline-block;
    margin: 12px 40px;
}
#free-books-sec .single-book img {
    border: 0;
    padding: 0;
    transition:all 0.4s;
    background: transparent;
}
#free-books-sec .single-book span.fa.fa-book{
    font-size: 145px;
    line-height: 168px;
    color: #bbbbbb;
    vertical-align: middle;
    transition: all 0.4s;
}
#free-books-sec .single-book a {
    position: relative;
    display: inline-block;
}
#free-books-sec .single-book a:hover img, #free-books-sec .single-book a:hover span.fa.fa-book {
    transform: scale(1.1);
}
#free-books-sec .single-book a:hover:after {
    /*content: '\f0d8';*/
    font-family: FontAwesome;
    position: absolute;
    bottom: -16px;
    font-size: 50px;
    line-height: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#attorneys-sec{
    background-image: url('img/attorneys-bg.jpg');
}
#testimonials-sec{
    padding-bottom: 70px;
    background-image: url('img/testi-bg-min.png');
    z-index: 1;
}
#testimonials-sec::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(130, 124, 97);
    background: -moz-linear-gradient(top, rgba(64, 57, 28, 0.6) 0%, rgba(53, 48, 27, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64, 57, 28, 0.6)), color-stop(100%, (53, 48, 27, 0.8)));
    background: -webkit-linear-gradient(top, rgba(64, 57, 28, 0.6) 0%, rgba(53, 48, 27, 0.8) 100%);
    background: -o-linear-gradient(top,rgba(64, 57, 28, 0.6) 0%, rgba(53, 48, 27, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(64, 57, 28, 0.6) 0%, rgba(53, 48, 27, 0.8) 100%);

    background: linear-gradient(to bottom, rgba(64, 57, 28, 0.6) 0%, rgba(53, 48, 27, 0.8) 100%);
    top: 0;
    left: 0;
    z-index: -1;
}
#testimonials-sec .item {
    /*    background: rgba(70, 67, 51, 0.37);*/
    min-height: 200px;
    padding: 40px;
    text-align: left;
    line-height: 1.6;
    background: rgb(130, 124, 97);
    background: -moz-linear-gradient(top, rgb(130, 124, 97) 0%,rgb(76, 70, 45) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(130, 124, 97)), color-stop(100%, rgb(76, 70, 45)));
    background: -webkit-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -o-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -ms-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: linear-gradient(to bottom, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364175', endColorstr='#262a4d', GradientType=0 );
}
#testimonials-sec .item img {
    background: transparent;
    padding: 0;
    float: left;
    margin: 0 30px 30px 0;
}
#testimonials-sec .testimonial_author{
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 6px;
    display: block;
}
#testimonials-sec .owl-item {
    vertical-align: top;
}
#testimonials-sec .owl-nav, .award-slider-section .owl-nav {
    display: none;
}
.owl-theme .owl-dots .owl-dot span{
    width: 12px;
    height: 12px;
    margin: 5px 4px 0;
    background: rgba(255, 255, 255, 0.13);
    transition: all 0.4s;
}
/*#awards-sec .owl-dots .owl-dot span{
    background: #dcdcdc;
}
#awards-sec .owl-theme .owl-dots .owl-dot.active span, #awards-sec .owl-theme .owl-dots .owl-dot:hover span{
    background: #171a2d;
}*/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}
#testimonials-sec .owl-carousel {
    margin-top: 8px;
    display: inline-block;
}
#testimonials-sec .owl-dots {
    margin-top: 50px;
}
/************** Tabs Section *******************/
#tabs-sec{
    background: #171a2d;
    padding-bottom: 0;
}
#tabs-sec .nav-tabs {
    position: absolute;
    top: -118px;
    border: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 1200px;
    z-index: 1;
    width: 100%;
}
.tabs-block {
    position: relative;
}
#tabs-sec .container > h2 {
    margin-bottom: 80px;
}
#tabs-sec .tabs-block .nav-tabs li {
    background-image: none;
    padding-left: 0;
    max-width: 14.3%;
    float: none;
    display: inline-block;
    margin-left: -4px;
    overflow: hidden;
    vertical-align: top;
}
#tabs-sec .tabs-block li span.tab-number {
    height: 100px;
    width: 100px;
    display: block;
    line-height: 100px;
    border: 2px solid #909193;
    border-radius: 50%;
    font-size: 32px;
    box-shadow: inset 0 0 20px #000;
    font-weight: 300;
    margin: auto auto 20px;
    position: relative;
}
#tabs-sec .tabs-block li a:hover span.tab-number, #tabs-sec .tabs-block li.active>a span.tab-number {
    border-color: #817b61;
    background: #817b61;
    box-shadow: none;
    transition: all 0.4s;
}
.tabs-block .nav-tabs>li>a {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
    background: transparent !important;
    border: 0 !important;
    color: #fff;
    transition: all 0.4s;
    line-height: 1.2;
}
.tabs-block .nav-tabs>li>a:hover, .tabs-block .nav-tabs>li.active>a:hover, .tabs-block .nav-tabs>li.active>a:focus, .tabs-block .nav-tabs li
a:hover span.tab-title {
    color: #c49652;
}
.tabs-block .single-tab {
    padding-top: 120px;
    margin-top: 80px;
    padding-bottom: 60px;
}
.tabs-block .single-tab:after {
    display: block;
    content: '';
    clear: both;
}
#tabs-sec .tabs-block h2, #tabs-sec .tabs-block h3,#tabs-sec .tabs-block h4 {
    text-align: left;
}
#tabs-sec .tabs-block h2:after, #tabs-sec .tabs-block h3:after, #tabs-sec .tabs-block h4:after {
    margin: 0;
}
#tabs-sec .tab-main {
    max-width: 580px;
    text-align: justify;
    font-weight: 500;
    min-height: 610px;
    display: table;
}
#tabs-sec .tab-main .tab-main-content {
    display: table-cell;
    vertical-align: middle;
}
.tabs-block .nav-tabs li a .tab-title {
    min-height: 40px;
    display: flex;
    align-items: center;
    float: none;
}
#tabs-sec .tabs-block li span.tab-number:before {
    right: 105%;
    left: auto;
}
#tabs-sec .tabs-block li span.tab-number:after, #tabs-sec .tabs-block li span.tab-number:before {
    position: absolute;
    top: 50%;
    width: 1000px;
    border: 1px dashed #5b5e6d;
    content: '';
    left: 103%;
}
#tabs-sec .tabs-block li span.tab-number:before{
    left: auto;
    right: 103%;
}
#tabs-sec .tabs-block .nav-tabs li:first-child .tab-number:before, #tabs-sec .tabs-block .nav-tabs li:last-child .tab-number:after {
    display: none;
}
#tabs-sec .tab-nav {
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    margin: auto;
}
#tabs-sec .tab-nav .prev, #tabs-sec .tab-nav .next {
    border: 2px solid #9d9da7;
    background: #272a3d;
    border-radius: 4px;
    height: 42px;
    width: 40px;
    line-height: 40px;
    margin: 10px;
    transition: all 0.4s;
}
#tabs-sec .tab-nav span:hover {
    background: #121423;
}
.owl-nav span:hover {
    cursor: pointer;
}
/************** Inner Pages: Page Banner *****************/
#inner-pages #page-banner {
    height: 405px;
    align-items: center;
    position: relative;
    padding-top: 0;
}
#inner-pages #page-banner:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    /*background: rgba(0,0,0,0.2);*/
}
#inner-pages #page-banner h2 {
    font-size: 40px;
}
.single #inner-pages #page-banner h2{
    text-transform: capitalize;
}
#below-contact-sec input, #below-contact-sec textarea {
    background: #f1f1f1;
    border: 0;
    height: 50px;
    padding: 15px;
}
#below-contact-sec {
    margin-top: 50px;
}
#below-contact-sec .col-sm-4 {
    padding-left: 70px;
}
#below-contact-sec input[type='submit'] {
    background: #8d8975;
    width: auto;
    min-width: 205px;
    padding: 21px 36px;
    height: auto;
    transition: all ease-in 0.3s;
}
#below-contact-sec input[type='submit']:hover {
    background: #7f7b6a;
}
#below-contact-sec textarea {
    height: 120px;
}
#below-contact-sec p{
    margin-bottom: 0;
}
.contact-block h4 {
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.contact-block h4:after {
    height: 0;
}
#below-contact-sec .contact-info {
    border-top: 1px solid #818489;
    padding: 20px 0;
    font-size: 18px;
}
#below-contact-sec .contact-info h4 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}
#below-contact-sec .contact-info h4:after {
    height: 0;
}
.contact-info li {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}
#map-sec{
    padding-bottom: 0;
}
#map-sec iframe {
    width: 100%;
    box-shadow: inset 0 0 10px #000;
    border:0;
}
#map-sec p {
    margin-bottom: 0;
    line-height: 0;
}
#map-sec a {
    background: #171a2d;
    color: #fff;
    padding: 8px 15px;
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    bottom: 40px;
    right: 60px;
}
#map-sec a:hover {
    background: #8d8975;
}
/************ Blog Page *************/
.wp-pagenavi a,.wp-pagenavi span{
    height:45px;
    min-width:45px;
    display:inline-block;
    line-height:40px;
    text-align:center;
    color:#000;
    margin:3px;
    vertical-align: top;
}
.wp-pagenavi a:hover,.wp-pagenavi span.current{
    background:#013a6f;
    color:#fff
}
.wp-pagenavi{
    margin-top:40px
}
.wp-pagenavi a.previouspostslink,a.nextpostslink{
    color:#0e2b49;
}
.wp-pagenavi a.previouspostslink:hover,a.nextpostslink:hover{color:#fff}
#page-section .blog-listing p:last-of-type {
    margin-bottom: 10px;
}
.blog-content h3:after {
    height: 0;
}
.blog-content h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 30px;
}
.blog-content .date {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0 18px;
    margin-bottom: 18px;
    font-size: 16px;
}
.blog-content h3 a {
    color: #010101;
}
.blog-listing hr {
    margin: 60px 0;
    display: none;
}
.blog-listing .blog-content a.read-more{
    font-style: italic;
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 0;
    line-height: normal;
    font-size: 16px;
}
.blog-listing:first-of-type {
    margin-top: 0;
}
#page-sidebar .widget {
    background: #efefef;
    padding-bottom: 22px;
    border-radius: 0;
}
#page-sidebar ul li a {
    display: block;
    padding: 10px 30px 10px 0px;
    color: #1e1e1e;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    border-top: 1px solid #e0e0e0;
}
#page-sidebar .social-share li a {
	padding: 0 !important;
}
#page-sidebar ul li a:after {
    content: '\f054';
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.4s;
}
#page-sidebar ul li a:hover, #page-sidebar li.current-cat > a,
#page-sidebar ul li.current_page_item, #page-sidebar li.current_page_item > a {
    color: #8d8975;
}
#page-sidebar ul li a:hover:after {
    right: 0;
}
.blog-listing {
    display: table;
    padding-bottom: 60px;
    border-bottom: 1px solid #eee;
    margin-bottom: 60px;
    width: 100%;
}
.blog-featured {
    width: 41%;
    display: table-cell;
    background-image: url('img/default-featured.jpg');
    position: relative;
}
.blog-featured:after, .blog-featured:before {
    width: 102%;
    height: 53%;
    content: '';
    border: 1px solid;
    left: -3px;
    top: -3px;
    position: absolute;
    margin: auto;
    border-bottom: 0;
}
.blog-featured:after {
    top: auto;
    bottom: -3px;
    border-bottom: 1px solid;
    border-top: 0;
}
.report-listing .blog-featured:after, .report-listing .blog-featured:before{
    display: none;
}
.blog-content.half {
    padding: 0 10px 0 30px;
    /*width: 59%;*/
    display: table-cell;
    vertical-align: middle;
}
.blog-content {
    padding: 0;
}
#page-section .blog-listing p, #page-section .blog-listing p {
    font-size: 16px;
}

#crumbs a {
    color: #e5dec2;
}
#page-banner #crumbs {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 11;
    color: #fff;
    font-size: 15px;
    background: rgba(0, 0, 0,0.8);
    padding: 10px 0;
    font-weight: bold;
    left:0;
}
#crumbs i {
    padding: 0 5px;
}
/*************** Attorney Detail *****************/
.attor-content h2{
    display: inline-block
}
/******************** Awards Page *******************/
.award-content-main {
    margin-bottom: 40px;
}
#awards-sec-block .single-award {
    font-size: 15px;
    border: 1px solid #e6e6e6;
    padding: 40px;
    border-bottom: 4px solid #8d8975;
    border-top: 4px solid #171a2d;
    margin-bottom: 50px;
}
#awards-sec-block .single-award:last-child {
    margin-bottom: 0;
}
.single-award .award-main, .single-award .award-img-block {
    display: inline-block;
    vertical-align: middle;
}
.single-award .award-main.half-award {
    width: 86%;
    padding-left: 40px;
}
.single-award .award-main.half-award.right-img-block 
{
    padding-left: 0;
    padding-right: 40px;
}
.single-award .award-img-block {
    width: 13%;
    text-align: center;
}
#awards-sec-block .single-award h3 {
    font-family: Roboto;
    font-size: 25px;
    color: #171a2d;
    padding-bottom: 0;
    margin: 18px 0;
}
#awards-sec-block .single-award h3:after {
    height: 0;
}
.single-award .award-img-block img {
    max-height: 100%;
    width: auto;
    border:0;
    padding:0;
}
/****************** Attorneys Listing ******************/
#attorneys-sec .attorney-list-block {
    width: 48.5%;
    float: left;
    margin: 9px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    /*   -webkit-align-items: center;
       -ms-flex-align: center;
       align-items: center;*/
    background: rgb(130, 124, 97);
    background: -moz-linear-gradient(top, rgb(130, 124, 97) 0%,rgb(76, 70, 45) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(130, 124, 97)), color-stop(100%, rgb(76, 70, 45)));
    background: -webkit-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -o-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -ms-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: linear-gradient(to bottom, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364175', endColorstr='#262a4d', GradientType=0 );
}
#attorneys-sec .attorney-list-block:nth-child(4n+3), #attorneys-sec .attorney-list-block:nth-child(4n+4){
    background: rgb(130, 124, 97);
    background: -moz-linear-gradient(top, rgb(130, 124, 97) 0%,rgb(76, 70, 45) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(130, 124, 97)), color-stop(100%, rgb(76, 70, 45)));
    background: -webkit-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -o-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -ms-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: linear-gradient(to bottom, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364175', endColorstr='#262a4d', GradientType=0 );
} 
#attorneys-sec .attorney-list-block .attorney-img-block{
    width: 50%;
    float: left;
}
#attorneys-sec .single-attorney .attorney-list-content {
    width: 60%;
}
.attorney-list-block.single-attorney span.attor-designation {
    padding-top: 6px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    margin-bottom: 10px;
}
.attorney-list-block .attor-title {
    padding: 0;
}
.attorney-list-block .attorney-list-content p {
    margin-bottom: 10px;
}
.attorney-list-block .btn {
    padding: 15px 20px;
    font-size: 14px;
}
.attorney-list-block .attorney-list-content {
    padding: 20px 10px 20px 20px;
}
.attorney-detail #page-section strong {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    color: #b57c49;
}
.attorney-detail #page-section h1{
    display: inline-block;
}
.attorney-detail #page-section:after {
    content: '';
    clear: both;
    display: block;
}
.attorney-detail p:first-of-type {
    margin-bottom: 0;
}
.attorney-more-info-block .single-info-block {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #e5e5e5;
}
.attorney-more-info-block .left-col, .attorney-more-info-block .middle-col, .attorney-more-info-block .right-col {
    display: inline-block;
    vertical-align: top;
}
.attorney-more-info-block .middle-col {
    width: 78%;
    padding: 0 40px;
}
.attorney-more-info-block .left-col h3 {
    color: #171a2d;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 10px;

}
.single-title-block{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 25px;
}
.attorney-more-info-block .left-col h3:after {
    height: 0;
}
.attorney-more-info-block .left-col {
    font-size: 24px;
    font-weight: 300; 
    padding-top: 5px;
    width: 23%;
    line-height: 1.2
}
.attorney-more-info-block .right-col {
    width: 20%;
    padding-top: 8px;
}
.attorney-more-info-block .right-col img {
    border: 0;
    padding: 0;
    margin: auto auto 60px;
    display: block;
}
.attorney-more-info-block .right-col img:last-child {
    margin-bottom: 0;
}
/*************** Videos Page *****************/
.video-listing {
    margin-bottom: 40px;
}
.blog-listing.video-listing {
    width: 49%;
    float: none;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 0;
    border: 0;
}
.blog-listing.video-listing:nth-last-of-type(2), .blog-listing.video-listing:nth-last-of-type(3) {
    margin-bottom: 0;
}
.video-listing h3 {
    font-size: 24px;
    line-height: 1.2;
}
.video-listing h3 a {
    color: #171a2d;
}
.video-listing .date {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.video-featured{
    display: inline-block;
    position: relative;
}
.video-featured:after {
    background: rgba(0, 0, 0, 0.43);
    color: rgba(200, 200, 200, 0.7);
    content: "\f01d";
    display: block;
    font-family: 'FontAwesome';
    font-size: 50px;
    height: 100%;
    line-height: 180px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
.mobile-videos .videoWrapper span.fa.fa-play-circle{
    color: rgba(200, 200, 200, 1);
    font-size: 50px;

}
.mobile-videos .videoPoster{
    text-indent: 0em;
}
/**************** FAQs *****************/
.faq-content {
    display: none;
    width: 100% !important;
    background: #efefef;
    padding: 40px !important;
    margin-top: 40px;
    max-width: 100% !important;
}
.faq-content h2, .faq-content h3 {
    font-size: 32px;
}
.show-hide-faq {
    color: #171a2d;
}
.faq-listing .date{
    border: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.report-listing .blog-content h3{
    margin-bottom: 15px;
}
.report-listing .blog-featured{
    background-size: contain !important;
}
.single #page-section a.btn {
    margin-top: 20px;
}
/***************** Attorney Detail ********************/
.attorney-detail .attorney-more-info-block .nav.nav-tabs {
    width: 25%;
    float: left;
}
.attorney-detail .attorney-more-info-block .tab-content {
    width: 75%;
    float: left;
}
.attorney-detail .attorney-more-info-block .nav.nav-tabs li {
    background: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #ffffff;
}
.attorney-detail .attorney-more-info-block .nav.nav-tabs li a {
    border-radius: 0;
    border: 0;
    background: #e5e5e5;
    margin: 0;
    padding: 26px 20px;
}
.attorney-detail .attorney-more-info-block .nav.nav-tabs li.active a {
    background: #efefef;
}
.attorney-more-info-block .single-title-block {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.attorney-more-info-block .single-title-block h3 {
    font-size: 24px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.attorney-more-info-block .nav.nav-tabs li.active h3{
    color: #fff;
}
.attorney-more-info-block .single-title-block h3:after{
    height: 0;
}
.attor-content {
    margin-bottom: 40px;
}
.attorney-detail .attorney-more-info-block .nav.nav-tabs li.active a {
    background: #171a2d;
    color: #fff;
}
.attorney-detail .attorney-more-info-block .tab-content {
    width: 75%;
    float: left;
    padding: 30px 0;
    box-shadow: 0 0 10px #ccc;
}
/************** Schema Markup ***************/
.review-schema-wrapper .container, .video-schema-wrapper .container {
    border: 1px solid #171a2d;
    padding: 40px;
    max-width: 800px;
}
.review-schema-wrapper, .video-schema-wrapper {
    background: #efefef;
}
.home .review-schema-wrapper, .home .video-schema-wrapper {
    display: none !important;
}
.video-schema-wrapper {
    padding-top: 0;
    display: none;
}
.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    background-color: #000;
    padding-top: 70%;
    border: 5px solid #dddddd;
    margin-top: 8px;
}
.videoPoster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background-position: 85% 100%;
    background-size: 100% 100%;
    background-size: cover;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}
.videoIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
}
.videoWrapper {
    position: relative;
    width: 50%;
    height: 0;
    background-color: #000;
    padding-top: 30%;
    border: 5px solid #dddddd;
    margin: auto auto 20px;
}
.wp-pagenavi span.extend{
    display: none;
}
.mobile-videos .videoWrapper{
    padding-top: 55%;
    width: 100%;
    border: 0;
}
html.site-html{
    background: #000;
}
.error404 #crumbs .container > span > span >span> a, .error404 #crumbs .container > span > span > a + span.fa.fa-caret-right {
    display: none;
}
.single-report .single-section img {
    border: none;
}
.page-video-section .videoWrapper {
    padding-top: 50%;
    min-height: 220px;
    min-width: 340px;
    margin-bottom: 0px;
}
.page-video-section {
    margin-bottom: 10px;
}


/*****Banner Video*****/
.home #page-banner,.home .award-slider-section.awards-slider{
    display: none;
}
#home-banner .award-slider-section .owl-theme .owl-nav.disabled+.owl-dots{
    display: none;
}
#banner-video{
    height:auto
}
#banner-video video{
    width:100%;
    object-fit:cover;
    height: 600px;
}
.internet-explorer #banner-video video{
    height: auto;
}
.internet-explorer .single-tab#tab-content-4{
    background-position: -140px 100% !important;
}
#home-banner{
    position: relative;
    height: 600px;
    overflow: hidden;
}
.home_content {
    max-width: 80%;
    margin: auto;
}
.home-banner-text{
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 10px;
    text-align: center;
}
#home-banner .banner{
    position:absolute;
    top:0;width:100%;
    background:rgba(0,0,0,.5);
    height:100%
}
#home-banner .home-banner-text{
    margin-top:50px
}
#home-banner h1{
    color:#fff
}
.home-banner-title{
    text-align:center
}
.home-banner-title h1{
    display:inline-block;
    z-index:11;
    font-size: 50px;
    font-weight: normal;
    margin-top:25px;
    text-shadow:3px 0 2px #000;
    text-align: center;
}
.home_content h2{
    background:#fff;
    padding:20px;
    margin:0;
    font-size: 24px;
    text-align:center;
}
.home-banner-text{
    text-transform: uppercase;
}
.call-actions{
    margin:0
}
.call-actions li{
    text-align: center;
    display:inline-block;
    width:50%;
    float:left;
    padding:0
}
.call-actions li:before{
    content:''
}.call-actions .fa{
    padding:10px; font-size:19px
}
.call-actions li a{
    border-right:1px solid #fff
}
.call-actions li:last-child a{
    border-right : none;
}
.call-actions a{
    max-height:58px;
    font-size:18px;
    color:#fff;
    padding:10px;
    display:inline-block;
    background:rgba(0,0,0,.5);
    width:100%
}
#home-banner .award-slider-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0 ;
}
.call-actions a:hover,.call-actions a:focus{
    color:#fff;
    text-decoration:none;
    background: rgb(141, 137, 117);
    background: -moz-linear-gradient(top,  rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(130, 124, 97)), color-stop(100%, rgb(76, 70, 45) ));
    background: -webkit-linear-gradient(top,  rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -o-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: -ms-linear-gradient(top, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    background: linear-gradient(to bottom, rgb(130, 124, 97) 0%, rgb(76, 70, 45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9e58', endColorstr='#b08345', GradientType=0 );
}
#site-header{
    z-index: 9999;
}
#home-banner h2 span {
    color: rgb(23, 26, 45);
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    padding-left: 2px;
}
#banner-video a.video-mute {
    position: absolute;
    bottom: 50%;
    right:0;
    z-index: 11;
    background: #000;
    color: #fff;
    padding: 20px;
    transition: 0.3s all;
    transform: rotate(180deg);
    -web-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    display: none;
}

#banner-video a.video-mute:hover {
    background-color: #817b61;
}
#home-banner-form form {
    background: rgba(0,0,0,.65);
    padding: 10px 40px !important;
    color: #fff;
    margin-top: 30px;
}
#home-banner-form {
    padding: 0 20px;
}
#home-banner-form h3 {
    font-size: 28px;
    color: #fff;
    float: left;
    width: 100%;
}
#home-banner-form form input,#home-banner-form form textarea {
    color: #fff;
}
#home-banner-form form label{
    display: none;
}
.home-video-thumb {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.home-video-thumb a{
    color: #fff;
}
.home-video-thumb a:hover{
    color: #817b61;
}
span.fa.fa-play-circle {
    font-size: 70px;
}
/*Lexicata Form Style*/

#lf_form_container p.buttons {
    margin-top:25px;    
}

#lf_form_container p.buttons .button_text:hover {
    color:#000 !important;
}

#below-contact-sec #lf_form_container form h3 {
    display: none;
}

#page-sidebar .lf_success {
    color: green;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
}

#page-sidebar #lf_email_block,   #page-sidebar  #lf_phone_block {
    width: 100% !important;
    display: block  !important;
    padding: 0  !important;
}


@media only screen and (min-width:992px){
    #lf_first_name_block, #lf_email_block {
        width: calc(50% - 4px);
        display: inline-block;
        padding-right: 15px;
    }

    #lf_last_name_block,  #lf_phone_block {
        width: calc(50% - 4px);
        display: inline-block;
        padding-left: 15px;
    }
}
#page-section img.alignleft{
    margin: 5px 30px 0px 0;
}
#page-section img.alignright{
    margin: 20px 0 0px 30px;
}
#footer-bottom .widget {
    display: inline-block;
    float: none;
    width: auto;
}
#footer-bottom li {
    padding: 0 8px 0 5px;
}
.page-template-template-case-results .blog-listing{
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.page-template-template-case-results .blog-content.half{
    padding: 0;
}
.attorney-list-content .btn{
    background:rgb(141, 137, 117);
    background: -moz-linear-gradient(top,  rgb(84, 73, 66) 0%, rgb(33, 24, 18) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(84, 73, 66)), color-stop(100%, rgb(33, 24, 18) ));
    background: -webkit-linear-gradient(top,  rgb(84, 73, 66) 0%, rgb(33, 24, 18) 100%);
    background: -o-linear-gradient(top, rgb(84, 73, 66) 0%, rgb(33, 24, 18) 100%);
    background: -ms-linear-gradient(top, rgb(84, 73, 66) 0%, rgb(33, 24, 18) 100%);
    background: linear-gradient(to bottom, rgb(84, 73, 66) 0%, rgb(33, 24, 18) 100%)
}
.lf_failure {
    color: #fff;
    text-align: center;
}
.maintestimonials {
    background:#ece5d3;
    padding: 30px;
    margin-bottom: 30px;
}
.testimonialvideo.owl-carousel .owl-item img{
    min-height: 130px;
    /*    max-height: 100%;*/
    max-width: 100%;
    padding: 0;
}
.testimonialblock{

}
.testimonialblock.testimonialtop {
    background:#ece5d3;
    padding: 90px 0 60px;
}
.testimonialblock.testimonialbottom {
    padding: 90px 0 60px;
}
.maintestimonials h4{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
    padding-bottom: 0;
}
.maintestimonials h4:after {
    display: none;
}
.testimonialvideo .owl-item {
    background: #e7e7e7 none repeat scroll 0 0;
    padding: 0px;
}
.testimonialvideo p {
    text-align: center;
    margin: 8px!important;
    color: #000;
    font-weight: 500;
    font-weight: 500;
}
.testimonialvideo.owl-carousel{
    margin-top: 30px;
    text-align: center;
}
.testimonialvideo.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    background: #6e684e;
    border-radius: 50%;
    color: #fff;
    height: 30px;
    right: -15px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    left: auto;
    bottom: 40%;
    position: absolute;
    bottom: 40%;
    left: -15px;
}
.testimonialvideo.owl-carousel .owl-nav .owl-next{
    right: -15px;
    left: auto;
    bottom: 40%;
}
.review-form-section {
    margin: 60px auto 35px;
    width: 70%;
}
.review-form-section > h3 {

}
.review-form-section form{
    margin-top: 20px;
}
.review-form-section .form-control{
    border:0px;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 0px;
    color: #000

}
.review-form-section input[type="submit"]{
    display: none;
    width: 230px;
    margin-top: 20px;
}
.review-form-section textarea.form-control{
    height:100px;
    resize: none;
    margin-bottom: 30px;

}
.input-text {
    display: inline-block;
    vertical-align: middle
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
    display: inline-block;
    height: 22px;
}
.rating-section {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 19px;
    font-weight: lighter;
}
.rating-section label {
    color: #25170e;
    font-weight: normal;
}
.review-box.row, .review-google-btn, .review-box-submit{
    display: none;
}
.review-form-section label.error {
    position: absolute;
    right: 15px;
    bottom: -8px;
    color: #ff0000;
    font-weight: 400;
    font-size: 13px;
}
a.btn.btn-primary.review-google-btn {
    margin-top: 10px;
    clear: both;
}
.review-box {
    background: #e5dec2;
    padding: 30px 20px 10px;
    display: inline-block;
    vertical-align: middle;
}
/******* New reviews page *******/
.single-video-block {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
}
.maintestimonials{
    display: flex;
    flex-direction: column;
}
.single-video-block-wrap {
    margin-bottom: 40px;
}
/* .single-video-block-wrap:nth-child(3n)
{
    clear: both;
} */
/*.single-written-testimonial:nth-child(4n){
    clear: both;
}*/
.video-wrap {
    text-align: center;
}
.single-section .video-wrap img{
    width: 100%;
}
.testimonials-title {
    font-weight: bold;
    color: #7f7960;
    margin-bottom: 10px;
}
.below-video-content{
    padding: 10px;
}
.testimonial-client-info{
    text-align: right;
}
.social-review-list {
    float: left;
    width: 100%;
    box-shadow: 0px 1px 3px 2px #eee;
}
.single-social-block {
    width: 100%;
    float: left;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.single-social-block:last-child{
    border-bottom:none;
}
.single-section img.review-profile-img{
    border: none;
    max-width: 100px;
}
.social-review-subtitle {
    background: #25170e;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}
.social-reviewed-by{
    color: #7f7a60;
    font-weight: 700;
}
.stars{
    color: #7f7a60;
}
.review-profile p{
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
}
.review-profile p a{
    color: #791212;
}
#social-testimonials{
    padding-top: 0;
}

.schema-hide{display:none;}
#below-practice-areas .video-container {
    padding-bottom: 90px;
}




/*****************************************************************/
/************************* GLM EDITS *****************************/

a.big-btn { background-color:#25170e;color:#fff !important;font-size:18px;font-weight:300;padding:15px 25px 15px 25px;text-align:center; }
a.big-btn:hover { background-color:#3c2e24; }

/*****************************************************************/



/*HENNESSEY EDITS*/
.hc-youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.hc-youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


li#menu-item-358 .sub-menu {
    min-width: 464px;
}
li#menu-item-358 .sub-menu > li {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}
li#menu-item-358 .sub-menu > li:nth-child(2) a {
    border-top: none;
}
li#menu-item-358 .sub-menu > li:nth-last-child(2) a {
    border-bottom: none;
    
}
.single-section .pagination ul li {
    background: none;
    padding: 5px;
    display: inline-block;
    min-width: 40px;
    text-align: center;
    border: 1px solid #ccc;
}
.single-section .pagination {
    clear: both;
    display: block;
}
.single-section .pagination ul li.active {
    background: #e5dec2;
}
/*********/
