@media only screen and (min-width:1600px){
    .home #page-banner{
        height: 620px;
        padding-top: 60px;
    }

    #inner-pages #page-banner {
        height: 620px;
    }

    .small-header #header-left img {
        margin: 15px 0;
    }
    #custom_html-2{ transition: all ease-in 0.3s;}
    #site-header.small-header #custom_html-2{ transition: all ease-in 0.3s;}
    #main-footer #footer-col-left li a img {
        margin-bottom: 5px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1400px){

    /*************** SCROLLBAR BASE CSS ***************/

    li#menu-item-358 .scroll-wrapper {
        overflow: hidden !important;
        padding: 0 !important;
        position: relative;
        height: 350px;
    }

    .scroll-wrapper > .scroll-content {
        border: none !important;
        box-sizing: content-box !important;
        height: auto;
        left: 0;
        margin: 0;
        max-height: none;
        max-width: none !important;
        overflow: scroll !important;
        padding: 0;
        position: relative !important;
        top: 0;
        width: auto !important;
    }

    .scroll-wrapper > .scroll-content::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

    .scroll-element {
        display: none;
    }
    .scroll-element, .scroll-element div {
        box-sizing: content-box;
    }

    .scroll-element.scroll-x.scroll-scrollx_visible,
    .scroll-element.scroll-y.scroll-scrolly_visible {
        display: block;
    }

    .scroll-element .scroll-bar,
    .scroll-element .scroll-arrow {
        cursor: default;
    }

    .scroll-textarea {
        border: 1px solid #cccccc;
        border-top-color: #999999;
    }
    .scroll-textarea > .scroll-content {
        overflow: hidden !important;
    }
    .scroll-textarea > .scroll-content > textarea {
        border: none !important;
        box-sizing: border-box;
        height: 100% !important;
        margin: 0;
        max-height: none !important;
        max-width: none !important;
        overflow: scroll !important;
        outline: none;
        padding: 2px;
        position: relative !important;
        top: 0;
        width: 100% !important;
    }
    .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
        height: 0;
        width: 0;
    }


    #site-header .scroll-element,
    #site-header .scroll-element div
    {
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
    }

    #site-header .scroll-element {
        background-color: #ffffff;
    }

    #site-header .scroll-element div {
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
    }

    #site-header .scroll-element.scroll-x {
        bottom: 0;
        height: 12px;
        left: 0;
        width: 100%;
    }

    #site-header .scroll-element.scroll-y {
        height: 100%;
        right: 0px;
        top: 0;
        width: 4px;
    }


    #site-header .scroll-element.scroll-x .scroll-element_outer { height: 8px; top: 2px; }
    #site-header .scroll-element.scroll-y .scroll-element_outer { left: 0px; width: 4px; }

    #site-header .scroll-element .scroll-element_outer { overflow: hidden; }
    #site-header .scroll-element .scroll-element_track { background-color: #e5dec2; }

    /*    #site-header .scroll-element .scroll-element_outer,
        #site-header .scroll-element .scroll-element_track,
        #site-header .scroll-element .scroll-bar {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }*/

    #site-header .scroll-element .scroll-bar { background-color: #171a2d; }
    #site-header .scroll-element .scroll-bar:hover { background-color: #b17b55; }
    #site-header .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


    /* scrollbar height/width & offset from container borders */

    #site-header .scroll-content.scroll-scrolly_visible { left: 0px; margin-left: 0px; }
    #site-header .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; }

    #site-header .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
    #site-header .scroll-element.scroll-y .scroll-bar { min-height: 10px;background: #25170e;}


    /* update scrollbar offset if both scrolls are visible */

    #site-header .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
    #site-header .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }

    #site-header .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
    #site-header .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }
    #main-footer #footer-col-left li a img {
        margin-bottom: 5px !important;
    }
    #footer-col-left img {
        margin-bottom: 25px;
        max-width: auto !important;
    }
    ul.social-share li a, #main-footer #footer-col-left li a {
        margin-right: 5px;
        margin-bottom: 10px;
        height: 40px;
        line-height: 40px !important;
        width: 42px;
    }
}
@media only screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }
    #main-wrapper{
        margin-top: 164px;
    }
    #page-sidebar {
        padding-left: 0;
    }

}
@media only screen and (min-width:1400px){
    .practice-list {
        max-width: 1400px;
        margin: 20px auto 0;
        float: none;
    } 
    .tabs-block .single-tab {
        background-position: left top !important;
    }
    #main-footer #footer-col-left li a img {
        margin-bottom: 5px !important;
    }
}
@media only screen and (max-width:1199px){
    #header-right h3 {
        font-size: 17px;
        margin-left: 0;
    }
    .header-phone-area{
        padding-left: 40px;
    }
    #header-right a ,#header-right span{
        font-size: 14px;
    }
    .navbar-nav>li>a {
        padding: 13px 21px;
    }
    #page-sidebar h3, #page-sidebar .widgettitle {
        font-size: 26px;
    }
    #practice-areas .practice-detail-title {
        font-size: 24px;
    }
    .practice-inner .area-inner-box{
        padding: 10px 0;
    }
    #below-tabs .col-sm-6:last-of-type h3:nth-of-type(2) {
        margin-top: 0;
    }
    #testimonials-sec .item{
        font-size: 14px;
    }
    #inner-pages .banner-content .container {
        max-width: 100%;
    }
    #attorneys-sec .attorney-list-block {
        width: 46.5%;
        margin: 15px;
    }
    .attorney-list-block .attorney-list-content p {
        font-size: 13px;
    }
    .blog-content h3 {
        font-size: 24px;
    }
    #inner-pages #page-banner {
        min-height: 300px;
        padding: 0;
    }
    .video-listing h3 {
        font-size: 21px
    }

    #main-footer #footer-col-left li a img {
        margin-bottom: 5px !important;
    }
    #home-banner-form h3 {
        font-size: 20px;
    }
    .home-banner-title h1{
        font-size: 40px;
    }
    .home_content h2{
        font-size: 20px;
    }
    #home-banner #lf_first_name_block,#home-banner #lf_email_block{
        margin-bottom: 0;
    }
    ul.social-share li a, #main-footer #footer-col-left li a{
        font-size: 14px;
        height: 30px;
        line-height: 30px !important;
        width: 30px;
    }
    .single-written-testimonial:nth-child(2n+1) {
        clear: both;
    }
    .single-written-testimonial:nth-child(4n) {
        clear: none;
    }
}
@media only screen and (max-width:1024px){
    #home-banner{
        display: none;
    }
    .home #page-banner,
    .home .award-slider-section.awards-slider{
        display: block;
    }   
}
@media only screen and (max-width:991px){
    .single-video-block {
        padding: 20px;
    }
    #footer-bottom .widget {
        display:block;
    }
    #header-right h3{
        display: none;
    }
    .home-banner-title h1{
        font-size: 35px;
    }
    .home_content h2 {
        padding: 15px;
        font-size: 20px;
    }
    .call-actions a{
        font-size: 15px;
    }
    #home-banner .home-banner-text {
        margin-top: 25px;
    }
    #home-banner {
        height: 427px;
    }
    #header-left, #header-middle, #header-right{
        width: 32.8%;
    }
    #header-right {
        font-size: 11px;
    }
    #header-right a {
        font-size: 15px;
    }
    .header-phone-area {
        padding-left: 34px;
    }
    .header-phone-area img {
        max-width: 30px;
    }
    .navbar-nav>li>a {
        padding: 13px 15px;
        font-size: 14px;
    }
    #page-banner {
        height: 410px;
    }
    .banner-content .col-sm-6:last-of-type {
        padding-left: 0px;
        width: 76%;
    }
    #page-section.col-sm-8{
        padding-right: 15px;
    }
    .header-phone-area li {
        font-size: 15px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    form input, form textarea {
        font-size: 11px;
    }
    .btn, input[type='submit'] {
        font-size: 15px;
        padding: 13px 36px;
    }
    h3 {
        font-size: 28px;
    }
    #page-sidebar h3, #page-sidebar .widgettitle {
        font-size: 18px;
    }
    #page-sidebar form h3 {
        padding: 0 5px 0;
        font-size: 18px;
    }
    .Practice-Area-Main .overlay-box{
        left: 0;
    }
    #practice-areas .practice-detail-title {
        font-size: 20px;
    }
    #practice-areas .overlay-box .practice-detail-title {
        font-size: 16px;
    }
    .practice-inner .area-inner-box {
        min-height: 164px;
    }
    #tabs-sec .tabs-block li span.tab-number {
        height: 80px;
        width: 80px;
        line-height:80px;
        font-size: 23px;
    }
    .tabs-block .nav-tabs>li>a {
        font-size: 12px;
        padding: 0 5px;
    }
    .tabs-block .single-tab {
        background-position: 20% center !important;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    #tabs-sec .tab-main {
        margin-left: 20%;
        width: 75%;
        background: rgba(0,0,0,0.8);
        padding: 30px;
    }
    #free-books-sec .single-book {
        margin: 12px 18px;
    }
    #footer-right {
        padding: 0 15px 0 30px;
    }
    #footer-middle{
        padding-left: 55px;
    }
    .single-section {
        padding: 60px 0;
    }
    .testimonialblock.testimonialtop,.testimonialblock.testimonialbottom {
  padding: 60px 0 40px;
}
    #page-sidebar ul li a {
        padding: 10px 20px 10px 0px;
    }
    #page-sidebar ul li a:after {
        right: 0;
    }
    #page-sidebar .widget, #page-sidebar form {
        padding: 25px 22px;
    }
    #inner-pages #page-banner h2 {
        font-size: 30px;
    }
    #inner-pages #page-section.col-sm-8 h2 {
        font-size: 30px;
    }
    #attorneys-sec .attorney-list-block {
        width: 45.5%;
        display: block;
    }
    #attorneys-sec .attorney-list-block .attorney-img-block {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
    #attorneys-sec .single-attorney .attorney-list-content {
        width: 100%;
    }
    .attorney-list-block .attor-title{
        font-size: 20px;
    }
    .attorney-list-block .btn {
        padding: 10px 16px;
    }
    .attorney-list-block .attorney-list-content {
        padding: 20px 7px 20px 13px;
    }
    .blog-listing {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    #below-contact-sec .col-sm-4 {
        padding-left: 30px;
    }
    #testimonials-sec .item {
        padding: 28px 40px 40px;
        text-align: center;
        font-size: 17px;
    }
    .attorney-detail .attorney-more-info-block .tab-content {
        width: 67%;
    }
    .attorney-detail .attorney-more-info-block .nav.nav-tabs {
        width: 32%;
    }

    .attorney-more-info-block .middle-col {
        width: 75%;
        padding: 0 18px 0 40px;
    }
    .blog-featured{
        display: block;
        width: 100%;
        height: 250px;
    }
    .blog-content{
        padding: 20px 0 0 !important;
        width: 100% !important;
        display: block !important;
    }
    .blog-listing {
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    .single-section .contact-info li {
        /*padding-left: 0px;*/
        font-size: 17px;
    }
    #below-contact-sec .col-sm-4 {
        padding-left: 15px;
    }
    .featured-div img{
        max-width: 200px;
    }
    .wpcf7-not-valid-tip {
        bottom: 1px;
        font-size: 10px !important;
    }
    #header-middle img {
        max-height: 75px;
    }
    #header-middle h3 {
        font-size: 13px;
    }
    ul.social-share li a, #main-footer #footer-col-left li a{
        margin-bottom: 10px;
        font-size: 14px;
        height: 25px;
        line-height: 25px !important;
        margin-right: 0;
        width: 25px;
    }
    #footer-col-left img {
        margin-bottom: 25px;
        max-width: auto !important;
    }


    #lf_first_name_block, #lf_email_block {
        width: calc(50% - 4px);
        display: inline-block;
        padding-right: 5px;
    }

    #lf_last_name_block,  #lf_phone_block {
        width: calc(50% - 4px);
        display: inline-block;
        padding-left: 5px;
    }

    .video-mp4-mobile {width: 100%;}
    .video-mp4-mobile video{
        max-width: 476px;
        height: 330px;}

}
@media only screen and (max-width:767px){
    #page-banner{
        background-image: url(/wp-content/uploads/2018/01/mobile-banner-min.jpg);
    }
    .banner-content p{
        display: none;
    }
    #below-contact-sec h3{
        text-align: center;
    }
    .single-section #below-contact-sec h3:after{
        right: 0;
        margin: auto;
    }
    ul.social-share li a, #main-footer #footer-col-left li a {
        font-size: 16px;
        height: 33px;
        line-height: 33px!important;
        width: 33px;
    }
    .video-mp4-mobile video {
        max-width: 300px;
        height: 230px;
    }
    .home #page-section{
        width: 100%;
    }
    #page-sidebar {
        margin-top: 40px;
    }
    #wprmenu_bar {
        width: auto;
        right: 15px;
        left: auto;
        top: 35px;
        padding: 10px;
    }
    .header-bottom{
        display: none;
    }
    html.site-html {
        padding-top: 0 !important;
    }
    #page-sidebar h3, #page-sidebar .widgettitle {
        font-size: 34px;
    }
    #page-sidebar form h3 {
        padding: 0 10px 15px;
        text-align: center;
    }
    form input, form textarea {
        font-size: 14px;
    }
    .small-header #header-left img, #header-left img {
        margin: 14px 0;
        max-width: 250px;
    }
    .btn, input[type='submit'] {
        font-size: 20px;
        padding: 12px 36px;
    }
    #page-sidebar .widget, #page-sidebar form {
        padding: 30px 22px;
    }
    .header-phone-area {
        padding-right: 60px;
        padding-left: 0;
    }
    .header-phone-area li.hide {
        display: inline-block !important;
    }
    .header-phone-area li.desktop-phone {
        display: none;
    }
    .header-phone-area li.hide a {
        background: #171a2d;
        display: inline-block;
        height: 42px;
        width: 46px;
        line-height: 40px !important;
        text-align: center;
    }
    #header-right{
        font-size: 0;
        vertical-align: middle !important;
        width: 40%;
    }
    #header-left{
        width: 59%;
    }
    #header-middle{
        display: none;
    }
    .header-phone-area img {
        position: initial;
    }
    #mg-wprm-wrap.cbp-spmenu-left, #mg-wprm-wrap.cbp-spmenu-right {
        top: 112px;
    }
    #mg-wprm-wrap ul li ul.sub-menu li {
        border: none;
        position: relative;
        border-top: 1px solid #9a988e;
        border-bottom: 1px solid #615d4d;
    }
    #mg-wprm-wrap li.menu-item-has-children ul.sub-menu a {
        padding: 13px 30px;
    }
    #wprmenu_menu_ul li.wprmenu_parent_item_li>ul {
        padding: 0 !important;
        background: #8d8975;
    }
    #mg-wprm-wrap ul#wprmenu_menu_ul li.menu-item.current-menu-parent > a,     #mg-wprm-wrap ul#wprmenu_menu_ul li.menu-item.current-menu-parent .wprmenu_parent_item {
        color: #cf9064 !important;
    }

    .current-menu-parent a {
        color: #cf9064 !important;
    }


    #mg-wprm-wrap ul li {
        border-top: 1px solid #9a988e;
        border-bottom: 1px solid #615d4d;
    }
    .cbp-spmenu {
        height: 88%;
    }
    #header-middle img{
        max-width: 200px;
    }
    #page-banner{
        height: 100%;
        padding:25px 0px 40px;
    }
    #below-tabs:before{
        display: none;
    }
    #below-tabs .col-sm-6{
        padding: 0 15px !important;
    }
    #below-tabs .col-sm-6:first-of-type {
        background: #f6f6f6;
        padding: 40px 15px !important;
        margin-bottom: 40px;
    }
    #below-tabs{
        padding-top: 0;
    }
    #main-footer #footer-top, #footer-right h4,.wp-pagenavi{
        text-align: center;
    }
    #footer-middle, #footer-right {
        padding: 0px 15px;
    }
    #main-footer .widgettitle{
        text-align: center;
        margin-top: 40px;
    }
    #main-footer .widgettitle:after{
        right: 0;
        margin: auto;
    }
    #footer-right ul,#below-contact-sec .contact-info ul {
        max-width: 205px;
        margin: auto;
        text-align: left;
    }
    #below-contact-sec .contact-info ul{
        max-width: 230px;
    }
    #below-contact-sec .contact-info h4{
        text-align: center;
    }
    #main-footer #footer-col-left ul {
        margin-top: 12px;
    }
    #main-footer #footer-top{
        padding: 50px 0;
    }
    #testimonials-sec .owl-dots {
        margin-top: 18px;
    }
    #footer-bottom{
        padding: 10px 15px;
    }
    ul.social-share li a, #main-footer #footer-col-left li a{
        margin-right: 5px;
        margin-bottom: 10px;
    }
    #page-sidebar ul li a{
        font-size: 17px;
    }
    #page-sidebar ul li a:after{
        top: 20px;
    }
    #inner-pages #page-banner {
        min-height: 100%;
        height: 100%;
        padding: 25px 0px 40px;
    }
    #below-contact-sec .col-sm-4 {
        padding-left: 15px;
        margin-top: 40px;
    }
    #attorneys-sec .attorney-list-block {
        width: 100%;
        display: flex;
        margin: 0 0 20px;
    }

    #attorneys-sec{
        padding: 60px 15px;
    }
    #mg-wprm-wrap li.menu-item-has-children ul.sub-menu li.current-menu-item a {
        background: #757265;
    }
    .blog-listing.video-listing:nth-last-of-type(2), .blog-listing.video-listing:nth-last-of-type(3){
        margin-bottom: 40px;
    }
    .single-section img{
        border: 0;
        padding: 0;
    }
    #header-right ul.social-share{
        display: none;
    }
    #footer-col-left img {
        margin-bottom: 25px;
        max-width: 300px !important;
    }

    .video-container {
        margin-bottom:30px;
    }



    #lf_first_name_block, #lf_email_block, #lf_last_name_block,  #lf_phone_block {
        width: 100%;
        display: block;
        padding-left: 0;
    }
    h1 {
        font-size: 35px;
    }

    .banner-content h2, #inner-pages .banner-content h2 {
        font-size: 22px;
        padding-top: 0;
    }
    #inner-pages .banner-content h2{
        padding: 7px 0;
    }
    #page-banner h3 span {
        color: #fff;
        font-size: 10px;
        padding-top: 0;
        padding-left: 3px;
    }
    .banner-content h3, #inner-pages .banner-content h3 {
        font-size: 14px;
        padding: 0px 15px 100px 0;
        color: #fff;
        background: transparent;
        margin-top: 0px;
        display: block;
    }
    .review-form-section .col-sm-6.col-xs-12:first-child {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 667px){
    .award-slider-section .owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }  
}
@media only screen and (max-width: 600px){


    .banner-content p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .area-box {
        width: 33.3%;
    }
    h2 {
        font-size: 32px;
    }
    #tabs-sec .tabs-block li span.tab-number {
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    .tabs-block .nav-tabs>li>a {
        font-size: 9px;
    }
    #footer-bottom .pull-left, #footer-bottom .pull-right {
        float: none;
        width: 100%;
    }
    .blog-listing.video-listing,.video-listing h3{
        width: 100%;
        text-align: center;
    }
    .video-listing h3:after{
        right: 0;
        margin:Auto;
    }
    .blog-listing.video-listing:nth-last-of-type(2) h3,
    .blog-listing.video-listing:nth-last-of-type(2){
        margin-bottom: 0;
    }
    .banner-content .col-sm-6:last-of-type{
        width: 70%;
    }
    .btn, input[type='submit'] {
        font-size: 15px;
        padding: 10px 36px;
    }
    form .ajax-loader {
        top: 11px;
    }
    .attorney-detail .attorney-more-info-block .nav.nav-tabs,
    .attorney-detail .attorney-more-info-block .tab-content{
        width: 100%;
    }
    .blog-featured{
        height: 180px;
    }
    .blog-content{
        text-align: center;
    }

    .blog-page-wrap h1{
        text-align: center;
    }
    .single-section .blog-page-wrap h1:after
    {          
        right: 0;
        margin: auto;
    }
    .blog-content h3,#awards-sec-block .single-award h3{
        text-align: center;
    }
    .single-award .award-img-block, .single-award .award-main.half-award{
        width: 100%;
    }
    .single-award .award-main.half-award{
        text-align: center;
        padding: 0 !important;
    }
}
@media only screen and (max-width: 480px){
    .review-profile {
        text-align: center;
        margin-top: 20px;
    }
    .banner-content h3, #inner-pages .banner-content h3 {
        padding: 0px 15px 60px 0;
    }
    #page-section img.alignright, #page-section img.alignleft {
        margin: 20px auto;
    }
    .small-header #header-left img, #header-left img{
        max-width: 188px;
    }
    #wprmenu_bar{
        top: 25px;
    }
    #header-left {
        width: 54%;
    }
    #header-right {
        width: 44%;
    }
    .banner-content h2,#inner-pages .banner-content h2{
        padding-bottom: 0;
    }
    #inner-pages #page-banner h2 {
        font-size: 22px;
        padding: 0;
        padding-bottom: 5px;
        margin-top: -10px;
        display: block;
    }
    .area-box {
        width: 50%;
    }
    #tabs-sec .tabs-block .nav-tabs li{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    .tabs-block .nav-tabs>li>a{
        font-size: 14px;
        border: 1px solid #909193 !important;
        border-radius: 0;
        text-transform: none;
        margin: 5px 15px;
        padding: 10px 5px;
    }
    #tabs-sec .nav-tabs{
        position: initial;
    }
    .tabs-block .single-tab {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #tabs-sec .tabs-block li span.tab-number{
        display: none;
    }
    #tabs-sec .container > h2 {
        margin-bottom: 30px;
    }
    #tabs-sec .tab-main {
        margin-left: 0;
        width: 92%;
        margin: auto;
    }
    #tabs-sec .tab-main{
        font-weight: normal;
    }
    .tabs-block .nav-tabs>li>a:hover, .tabs-block .nav-tabs>li.active>a, .tabs-block .nav-tabs>li>a:focus {

        color: #fff !important;
        border-color: #CF9064 !important;
    }

    #page-banner {
        padding: 17px 0px 33px;
    }
    .award-slider-section .owl-nav{
        display: block;
    }
    .award-slider-section .owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
        display: none;
        border: none;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        bottom: 24%;
        color: #fff;
    }
    .owl-theme .owl-nav [class*=owl-]:hover {
        border: 1px solid #cf9064;
        background: #cf9064;
    }
    .Practice-Area-Main .overlay-box{
        left: 0;
    }
    .attorney-more-info-block .middle-col {
        width: 100%;
        padding: 0 15px;
    }
    .attorney-more-info-block .right-col {
        width: 100%;
        padding: 0 15px;
    }
    .attorney-more-info-block .right-col img {
        margin: 20px auto 60px;
    }
    #crumbs a, #crumbs span {
        font-size: 12px;
    }
    #page-banner #crumbs{
        padding: 0;
        background: rgba(0, 0, 0,0.8);
    }
    /*    .contact-info ul li img {
            position: static;
            display: block;
            right: 0;
            margin: auto auto 10px;
        }*/
    /*    #below-contact-sec h3 {
            font-size: 28px;
            text-align: center;
        }
        #below-contact-sec h3:after{
            right:0;
            margin: auto;
        }
        #below-contact-sec .contact-info,#below-contact-sec .contact-info h4{
            text-align: center;
        }*/
    #below-contact-sec input[type='submit']{
        display: block;
        margin: auto;
    }
    .single-section .contact-info li:last-child {
        margin-bottom: 0;
    }
    #below-contact-sec .contact-info{
        padding-bottom: 0;
    }
    #attorneys-sec .attorney-list-block {
        width: 100%;
        display: block;
    }
    .featured-div {
        float: none;
        display: block;
        margin: auto auto 20px;
        text-align: center;
    }
    .single-section img.alignleft, .single-section img.alignright{
        float: none;
        display:block;
        margin: auto auto 20px;
    }
    h1 {
        font-size: 30px;
    }
    .featured-div img {
        max-width: 100%;
    }
    #main-footer #footer-top {
        padding: 50px 0 30px;
    }
    #footer-bottom {
        padding-bottom: 60px;
    }
    #main-footer #footer-col-left li a img {
        margin-bottom: 5px;
    }
    #footer-col-left img {
        margin-bottom: 25px;
        max-width: 300px !important;
    }
    .text-justify p,.text-justify h1, .text-justify h2,.text-justify h3,.text-justify ul{
        text-align:left;
    }
}
@media only screen and (max-width:380px){

    #header-middle img {
        max-width: 178px;
    }
    #wprmenu_bar {
        padding: 9px 5px 2px;
        height: auto;
    }
    .header-phone-area li.hide a {
        height: 41px;
        width: 40px;
    }
    .header-phone-area {
        padding-right: 45px;
    }
    .banner-content h2,#inner-pages #page-banner h2{
        padding-bottom: 0;
        font-size: 19px;
    }
    .banner-content h3,#inner-pages .banner-content h3 {
        font-size: 10px;
        margin-top: 0;
    }

    #page-sidebar h3, #page-sidebar .widgettitle {
        font-size: 28px;
    }
    #mg-wprm-wrap.cbp-spmenu-left, #mg-wprm-wrap.cbp-spmenu-right {
        top: 80px;
    }
    #inner-pages #page-section.col-sm-8 h2 {
        font-size: 26px;
    }
    #main-footer #footer-col-left li a img {
        margin-bottom: 5px;
    }
}
